<div class="oppia-splash-section-one text-center" dir="auto">
  <h1 class="oppia-splash-h1" translate="I18N_SPLASH_TITLE"></h1>
  <div class="oppia-splash-rows-container">
    
    <div class="oppia-splash-bullet-block oppia-splash-block-center-image">
        <img ng-src="<[$ctrl.getStaticImageUrl('/splash/network.png')]>">
      </div>

    <div class="oppia-splash-button-container">
      
<a class="button" href="#call" style="
    background-color: #007bff;
    color: #fff;
    box-shadow: 0px 8px 16px rgb(0 126 255 / 16%);
    margin: 10px 0px 0px 0px;
    width: 250px;
">Попробовать</a>
<a style="
    background-color: #fff;
    color: #007bff;
    box-shadow: 0px 8px 16px rgb(0 126 255 / 16%);
    margin: 10px 0px 0px 0px;
    width: 250px;
" href="#metod" class="button">Подробнее о методике</a>
      <!-- User must complete the registration process. -->
      <!----><!---->
      <!---->
    </div>
  </div>


  <div class="oppia-splash-h2-container">
    <h2 class="oppia-splash-h2 oppia-splash-h2-text" translate="I18N_SPLASH_SUBTITLE"></h2>
  </div> 
</div>
<div class="oppia-splash-bullet">
      <div class="oppia-splash-bullet-block oppia-splash-block-right-image">
        <img ng-src="<[$ctrl.getStaticImageUrl('/splash/playtest.gif')]>" style="
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgb(37 40 43 / 23%);
">
      </div>
      <h3>Как будто с учителем</h3>
      <div class="oppia-splash-bullet-block"
           translate="I18N_SPLASH_ZERO_EXPLORATION_DESCRIPTION"
           dir="auto">
      </div>
      <a class="button" href="#" style="
    background-color: #007bff;
    color: #fff;
    box-shadow: 0px 8px 16px rgb(0 126 255 / 16%);
">Зарегистрироваться</a>
    </div>



<div class="oppia-splash-h2-container">
    <h2 class="oppia-splash-h2 oppia-splash-h2-text" translate="I18N_SPLASH_BEST_CHOICE"></h2>
    <p style="font-family: 'Montserrat';padding-left: 20px;padding-right: 20px;font-style: italic;text-align: center;">Не можете найти хорошего репетитора,
а самостоятельная подготовка не вдохновляет?
Вам поможет наш интеллектуальный бот!</p>
  </div>

<div class="post-wrap" style="font-family: 'Montserrat';">
 <div class="box">
    <b1>Подготовка с репетитором</b1>  
    <p class="about">+ Высокая эффективность</p>
    <p class="about">- Поиск квалифицированного специалиста
</p>
    <p class="about">- Высокая цена</p>
    <p class="about">- Расписание надо подстраивать под репетитора
</p>  
  </div>
  <div class="box blue">
    <b2>Oqustudy.kz</b2>    
    <p class="about">+ Только нужный учебный материал для подготовки
</p>
    <p class="about">+ Занимаетесь когда удобно</p>
    <p class="about">+ Интерактивный тренажер научит легко решать задачи</p>
    <p class="about">+ Аналитика успеваемости</p>
    <a class="button" style="font-weight: 400;" href="#">Попробывать</a>
  </div>
  <div class="box">
    <b1>Самостоятельная подготовка</b1>
    <p class="about">+ Бесплатно</p>
    <p class="about">+ Занимаетесь в удобное время</p>
    <p class="about">- Нет объяснения по непонятным материалом
 </p>
    <p class="about">- Тратите много времени на поиск решений</p> 
  </div>
</div>



<div class="post-wrap">
<div class="post-item">
<div class="item-content">
<div class="item-body">
<b3>На 40% увеличивается успеваемость учеников, прошедших подготовку
по методологии Oqustudy</b3>
</div>
</div>
</div>
</div>


<div class="oppia-splash-section-two">
  <div class="oppia-splash-h2-container">
    <h2 class="oppia-splash-h2 oppia-splash-h2-text"><a name="metod">Бот учит навыку решать задачи</a></h2>
  </div>
  <div class="oppia-splash-section-two-content oppia-splash-section-two-content-extra-info">
    <div class="oppia-splash-bullet oppia-splash-bullet-extra-info">
      
      <div class="oppia-splash-bullet-block oppia-splash-block-left-image">
        <img ng-src="<[$ctrl.getStaticImageUrl('/splash/bullet1icon.png')]>" alt="">
      </div>
      <div class="oppia-splash-block-right-text" style="margin-right: 239px;"><h3>Адаптивная методика</h3></div>
      <div class="oppia-splash-bullet-block oppia-splash-block-right-text"
           translate="I18N_SPLASH_FIRST_EXPLORATION_DESCRIPTION"
           dir="auto">
      </div>
    </div>
    <div class="oppia-splash-bullet">
      <div class="oppia-splash-bullet-block oppia-splash-block-right-image">
        <img ng-src="<[$ctrl.getStaticImageUrl('/splash/bullet2icon.png')]>" alt="">
      </div>
      
      <div><h3>Обучение через общение</h3></div>
      <div class="oppia-splash-bullet-block oppia-splash-block-left-text"
           translate="I18N_SPLASH_SECOND_EXPLORATION_DESCRIPTION"
           dir="auto">
      </div>
    </div>

    <div class="oppia-splash-bullet">
      <div class="oppia-splash-bullet-block oppia-splash-block-left-image">
        <img ng-src="<[$ctrl.getStaticImageUrl('/splash/bullet3icon.png')]>" alt="">
      </div>
      
      <div class="oppia-splash-block-right-text" style="margin-right: 333px;"><h3>Учим думать</h3></div>
      <div class="oppia-splash-bullet-block oppia-splash-block-right-text"
           translate="I18N_SPLASH_THIRD_EXPLORATION_DESCRIPTION"
           dir="auto">
      </div>
    </div>
  </div>

<div class="oppia-splash-bullet">
<div class="oppia-splash-bullet-block oppia-splash-block-left-image">
        <form class="decor1 ng-pristine ng-valid">
<div>
<h1 style="
    font-size: 2.5em;
    font-weight: 900;"><a name="call">
Мы всегда на связи</a></h1>
    <img ng-src="<[$ctrl.getStaticImageUrl('/splash/call_hand.png')]>" alt="" style="
    
    margin-bottom: 150px;
">


  <button class="btn oppia-splash-button oppia-splash-button-browse  oppia-transition-200" style="
    bottom: 100px;
    border-radius: 25px;
    box-shadow: 0px;
    background-color: #43d854;"><a href="https://api.whatsapp.com/send/?phone=%2B77475318623&text&app_absent=0" target="self" style="
    color: #fff;
">
Написать в whatsapp <i class="fab fa-whatsapp"></i></a></button>


  <button class="btn oppia-splash-button oppia-splash-button-browse  oppia-transition-200" style="
    border-radius: 25px;
    background-color: #0088cc;
    bottom: 35px;"><a href="https://t.me/bakhitov" target="self" style="
    color: #fff;
">
Написать в telegram <i class="fab fa-telegram"></i></a></button>
</div>
</form>
      </div>
      <div class="oppia-splash-bullet-block oppia-splash-block-right-image">
        <form class="decor">
<div class="form-inner">
<h2>Заказать обратный звонок</h2>
<input type="text" placeholder="Имя">
<input type="tel" placeholder="+77ХХХХХХХХХ">
<textarea placeholder="Сообщение..." rows="3"></textarea>
<input type="submit" value="Заказать">
</div>
</form>
     </div>
</div>


<style>
  splash-page .oppia-splash-rows-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
    position: relative;
  }
  splash-page .oppia-splash-background-icon-rows-container {
    padding-left: 200px;
  }
  splash-page .oppia-splash-books-image {
    margin-left: -250px;
    top: 95px;
    width: 500px;
  }
  splash-page .oppia-splash-browse-button-position {
    bottom: 35px;
    z-index: 10;
    box-shadow: 0px -10px 40px 40px rgb(250,250,250);
  }
  splash-page .oppia-splash-create-button-position {
    bottom: -20px;
    z-index: 10;
    box-shadow: 0px 40px 30px 15px rgb(250,250,250);
  }
  splash-page .oppia-splash-h2-text {
    font-size: 2em;
    max-width: 700px;
    padding-bottom: 30px;
    padding-top: 40px;
  }
  
  splash-page .oppia-splash-bullet-extra-info {
    clear: both;
    
  }
</style>
<div class="rbd-core-ui" style="
    margin-bottom: 260px;
">
  <div class="rbd-review-slider">
    <div class="rbd-review-container">
      <div class="client_reviews"><h2 class="rbd-heading oppia-splash-h2 oppia-splash-h2-text" style="
">Отзывы учеников</h2></div>
      <div class="rbd-review review1.1 rbd-curr">
        <b2 class="rbd-heading">Мариям 9 класс</b2>
        <i class="renderSVG" data-icon="star" data-repeat="5"></i>
        <div class="rbd-content" style="font-family: 'Montserrat';">
          <!--<img class="rbd-gravatar" src="https://en.gravatar.com/userimage/26363586/56972d52aba494b6f068d289c6d3d63d.jpg"><-->Круто, в школе мы бы потратили несколько уроков на изучение теории вероятности, а здесь так быстро получилось разобраться! Oqustudy понятно объясняет.</div>
        <div class="rbd-footing">
          <a class="rbd-button rbd-small" href="https://www.instagram.com/oqustudy.kz/" style="
    color: #fff;
    text-decoration: underline;
">перейти</a>
        </div>
        <div class="rbd-review-meta">Отзыв в сохраненных сторис Инстаграм</div>
      </div>
      <div class="rbd-review review1.2 rbd-next">
        <b2 class="rbd-heading">Эмир 5 класс</b2>
        <i class="renderSVG" data-icon="star" data-repeat="5"></i>
        <div class="rbd-content" style="font-family: 'Montserrat';">Хорошие подсказки даёт, подсказывает, как надо. С oqustudy намного удобнее, чем с учебником и интернетом. В интернете не всё понятно, а тут всё понятно. Когда пропустил урок, удобно разобрать с ботом тему.</div>
        <div class="rbd-footing">
          <a class="rbd-button rbd-small" href="https://www.instagram.com/oqustudy.kz/" style="
    color: #fff;
    text-decoration: underline;
">перейти</a>
        </div>
        <div class="rbd-review-meta">Отзыв в сохраненных сторис Инстаграм</div>
      </div>
      <div class="rbd-review review1.3">
        <b2 class="rbd-heading">Алим 6 класс</b2>
        <i class="renderSVG" data-icon="star" data-repeat="5"></i>
        <div class="rbd-content" style="font-family: 'Montserrat';">Теория на понятном языке. Время не жмёт, можно спокойно сидеть, решать. Практика интересная. На уроке класс мешает сконцентрироваться, а в такой обстановке удобно учиться. Функция "по шагам" помогает сконцентрироваться.</div>
        <div class="rbd-footing">
          <a class="rbd-button rbd-small" href="https://www.instagram.com/oqustudy.kz/" style="
    color: #fff;
    text-decoration: underline;
">перейти</a>
        </div>
        <div class="rbd-review-meta">Отзыв в сохраненных сторис Инстаграм</div>
      </div>
    </div>
  </div>
</div>
