<div ng-cloak>
  <md-card class="oppia-editor-card" ng-if="!loadingMessage">
    <div ng-if="explorationHasBeenVisited">
      <div class="oppia-statistics-display">
        <h3>Количество первых посещений</h3>
        <pie-chart data="pieChartData" options="pieChartOptions">
        </pie-chart>
        <p class="text-center">
          <span ng-if="numPassersby"
                class="protractor-test-num-passersby font-weight-bold">
            <[numPassersby]> учащиеся просматривали это занятие. Ушли не дойдя до второй карточки.
          </span>
          <span ng-if="!numPassersby" class="font-weight-bold">
            Ни один из учащихся еще не просматривал это занятие.
          </span>
        </p>

        <h3>Статистика занятия</h3>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div state-graph-visualization
                   graph-data="statsGraphData"
                   node-fill="dodgerblue"
                   on-click-function="onClickStateInStatsGraph">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!explorationHasBeenVisited">
      <em>
        Это занятие еще никто не посещал, поэтому статистика для отображения отсутствует..
      </em>
    </div>
  </md-card>
</div>
