<div class="image-uploader-drop-area">
  <div class="image-uploader-text" translate="I18N_DIRECTIVES_DRAG_IMAGE_HERE"></div>
  <span ng-if="errorMessage"
        class="image-uploader-error-message protractor-test-upload-error">
    <i class="material-icons">&#xE002;</i>
    <[errorMessage]>
  </span>
  
  <label for="image-file-input" translate="I18N_DIRECTIVES_UPLOAD_A_FILE" class="image-uploader-upload-label-button"></label>
  <!-- The onclick="this.value=null" attribute resets the value of the input so that uploading the same image twice in a row works. This fix is only needed for chrome. Reference: stackoverflow.com/q/12030686 -->
  <input type="file" id="image-file-input" onclick="this.value = null"
         class="image-uploader-file-input protractor-test-photo-upload-input"
         ng-class="fileInputClassName">
</div>

<style>
  .image-uploader-license-warning {
    background-color: rgba(225, 250, 89, 0.41);
    border: 1px solid rgba(200, 230, 59, 0.41);
    border-radius: 6px;
    bottom: 8px;
    font-size: 12px;
    font-style: italic;
    left: 8px;
    padding: 4px 6px;
    position: absolute;
    text-align: left;
  }

  .image-uploader-drop-area {
    background: #E5F2FF;
    color: #007EFF;
    font-size: 16px;
    height: 200px;
    padding-top: 74px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .image-uploader-text {
    display: block;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 12px;
    text-align: center;
    width: 100%;
  }

  .image-uploader-is-active {
    background-color: #bbb;
  }

  .image-uploader-file-input {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
  }

  label.image-uploader-upload-label-button {
    background: #E5F2FF;
    
    border: solid #007EFF 1px;
    border-radius: 19px;
    bottom: 6px;
    cursor: default;
    display: inline;
    font-size: 16px;
    font-weight: normal;
    padding: 4px 8px;
    position: absolute;
    right: 8px;
    text-align: center;
  }

  label.image-uploader-upload-label-button:hover {
    background-color: #007EFF;
    border: #007EFF solid 1px;
    cursor: pointer;
    color: white;
  }

  label.image-uploader-upload-label-button:active {
    background-color: #007EFF;
    border: solid #007EFF 1px;
    padding: 4px 8px;
    color: white;
  }

  .image-uploader-error-message {
    color: red;
    display: inline-block;
    font-size: 16;
    padding: 4px;
  }

  .image-uploader-error-message i {
    font-size: 16px;
    margin-right: 4px;
  }
</style>
