<div class="modal-header">
  <h3>Обновить аудиоперевод</h3>
</div>

<div class="modal-body">
  <p>
    Вы хотите пометить все существующие переводы и закадровый голос как «может не соответствовать содержанию»?
    <br>
    Это информирует исполнителей озвучивания о необходимости повторного перевода и записи нового звука, отражающего любые изменения в тексте.
  </p>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" ng-click="cancel()">Нет</button>
  <button class="btn btn-secondary" ng-click="confirm()">Да</button>
</div>
