<div class="modal-header create-new-story-header">
  <h3>
    Создать историю
  </h3>
</div>
<form ng-submit="confirm(story)">
  <div class="modal-body create-new-story">
    <div class="story-input">
      <div class="story-input-header">
        <span>Название</span>
      </div>
      <input class="form-control protractor-test-new-story-title-field required" ng-model="story.title" maxlength="<[MAX_CHARS_IN_STORY_TITLE]>" aria-label="Title" autofocus>
      <div>
        <span class="oppia-input-box-subtitle">
          <em>
            Название истории должно быть не более <[MAX_CHARS_IN_STORY_TITLE]> символов.
          </em>
        </span>
      </div>
    </div>
    <div class="story-input story-input-description">
      <div class="story-input-header">
        <span>Описание</span>
      </div>
      <textarea rows="3" cols="50" ng-model="story.description" class="form-control protractor-test-new-story-description-field required" aria-label="Description"></textarea>
    </div>
    <div class="story-input">
      <div class="story-input-header">
        <span>Фрагмент URL</span>
      </div>
      <input class="form-control protractor-test-new-story-url-fragment-field" ng-model="story.urlFragment" maxlength="<[MAX_CHARS_IN_STORY_URL_FRAGMENT]>"
             ng-class="{'is-invalid': storyUrlFragmentExists || !validUrlFragmentRegex.test(story.urlFragment)}"
             ng-change="onStoryUrlFragmentChange()"
             aria-label="Url fragment">
      <div>
        <span class="oppia-input-box-subtitle">
          <em>
            Фрагмент URL-адреса истории используется для однозначного доступа к странице просмотра истории. Он должен состоять из одного или нескольких слов, разделенных дефисом, в нижнем регистре, не более <[MAX_CHARS_IN_STORY_URL_FRAGMENT]> всего символов и должны быть уникальными по теме. Используйте значимые ключевые слова и избегайте таких слов, как "and", "of", или "the".
            Эта история доступна по следующему URL-адресу:<br>
            <[hostname]>/learn/<[classroomUrlFragment]>/<[topicUrlFragment]>/story/<[story.urlFragment]>
          </em>
        </span>
        <div ng-if="storyUrlFragmentExists" class="oppia-input-box-subtitle text-danger">
          <em>
            Этот фрагмент URL истории уже существует.
          </em>
        </div>
      </div>
    </div>
    <div class="story-input story-input-thumbnail">
      <div class="story-input-header">
        <span>Обложка</span>
      </div>
      <thumbnail-uploader preview-title="story.title"
                          aspect-ratio="'4:3'"
                          disabled="false"
                          use-local-storage="true"
                          allowed-bg-colors="allowedBgColors"
                          thumbnail-bg-color="story.getThumbnailBgColor()"
                          preview-description-bg-color="'#007EFF'">
      </thumbnail-uploader>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" ng-click="cancel()" type="button">Отмена</button>
    <button class="btn btn-success protractor-test-confirm-story-creation-button" type="submit" ng-disabled="!isValid()">
      <span>Создать историю</span>
    </button>
  </div>
</form>
<style>
  .create-new-story-header h3 {
    font-size: 28px;
  }
  .create-new-story .story-input {
    padding: 10px 10px 16px;
  }
  .create-new-story input {
    width: 70%;
  }
  .story-input-description input {
    width: 95%;
  }
  .create-new-story .story-input-header span {
    font-weight: bold;
  }
  .create-new-story .story-input-thumbnail {
    padding-top: 15px;
  }
  .create-new-story .ng-touched.ng-empty.required {
     outline: 1px solid #F00;
  }
</style>
