<div class="oppia-create-new-subtopic-container">
  <div class="modal-header">
    <h3>
      Создать подтему
    </h3>
  </div>
  <div>
    <div class="modal-body new-subtopic-editor protractor-test-new-subtopic-editor">
      <div class="create-new-subtopic-input-field">
        <div>
          <strong>Название</strong>
        </div>
        <input class="form-control oppia-new-subtopic-editable-field protractor-test-new-subtopic-title-field required"
               placeholder="Введите краткое описание подтемы, которое ученики могут легко понять, например 'Добавление дробей'"
               ng-model="$ctrl.subtopicTitle" ng-change="$ctrl.resetErrorMsg()" maxlength="<[$ctrl.MAX_CHARS_IN_SUBTOPIC_TITLE]>" autofocus>
        <span class="oppia-input-box-subtitle">
          <em>
            Название подтемы должно быть не более <[$ctrl.MAX_CHARS_IN_SUBTOPIC_TITLE]> символов.
          </em>
        </span>
        <span class="form-text error-msg" ng-if="$ctrl.errorMsg">
          <em><[$ctrl.errorMsg]></em>
        </span>
      </div>
      <div>
        <strong>Введите фрагмент URL для подтемы</strong>
      </div>
      <input class="form-control oppia-new-subtopic-editable-field protractor-test-new-subtopic-url-fragment-field"
             ng-class="{'is-invalid': $ctrl.editableUrlFragment && (!$ctrl.isUrlFragmentValid() || $ctrl.subtopicUrlFragmentExists)}"
             placeholder="Введите фрагмент URL для подтемы."
             ng-model="$ctrl.editableUrlFragment" ng-change="$ctrl.checkSubtopicExistence()" maxlength="<[$ctrl.MAX_CHARS_IN_SUBTOPIC_URL_FRAGMENT]>">
      <span class="oppia-input-box-subtitle">
        <em>
          Фрагмент URL-адреса подтемы используется для однозначного доступа к странице просмотра подтемы. Он должен состоять из одного или нескольких слов, разделенных дефисом, в нижнем регистре, не более <[$ctrl.MAX_CHARS_IN_SUBTOPIC_URL_FRAGMENT]> всего символов и должны быть уникальными по теме. Используйте значимые ключевые слова и избегайте таких слов, как "and", "of", или "the".
          Доступ к этой подтеме можно получить по следующему URL-адресу:<br>
          <[$ctrl.hostname]>/learn/<[$ctrl.classroomUrlFragment]>/<[$ctrl.topic.getUrlFragment()]>/revision/<[$ctrl.editableUrlFragment]>
        </em>
      </span>
      <div class="oppia-input-box-subtitle text-danger" ng-if="$ctrl.editableUrlFragment && $ctrl.subtopicUrlFragmentExists">
        <em>Фрагмент URL подтемы не уникален.</em>
      </div>

      <div class="create-new-subtopic-input-field create-new-subtopic-content">
        <div>
          <strong>Разъяснение подтемы</strong>
        </div>
        <div class="description-editor" ng-if="$ctrl.schemaEditorIsShown">
          <div class="oppia-editor-card-body" >
            <schema-based-editor schema="$ctrl.SUBTOPIC_PAGE_SCHEMA"
                                 class="protractor-test-create-subtopic-page-content"
                                 local-value="$ctrl.htmlData">
            </schema-based-editor>
          </div>
        </div>

        <div ng-if="!$ctrl.schemaEditorIsShown" ng-click="$ctrl.showSchemaEditor()" class="protractor-test-show-schema-editor">
          <span class="oppia-placeholder">
              Дайте описание или объяснение подтемы.
            <i class="fa fa-pen"></i>
          </span>
        </div>
      </div>

      <div class="thumbnail-editor create-new-subtopic-input-field">
        <strong>Обложка*</strong>
        <thumbnail-uploader filename="$ctrl.editableThumbnailFilename"
                            update-filename="$ctrl.updateSubtopicThumbnailFilename"
                            bg-color="$ctrl.editableThumbnailBgColor"
                            update-bg-color="$ctrl.updateSubtopicThumbnailBgColor"
                            allowed-bg-colors="$ctrl.allowedBgColors"
                            aspect-ratio="'4:3'"
                            preview-title="$ctrl.subtopicTitle"
                            preview-description=""
                            preview-description-bg-color="'#BE563C'"
                            preview-footer="">
        </thumbnail-uploader>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" ng-click="$ctrl.cancel()" type="button">Отмена</button>
    <button class="btn btn-success protractor-test-confirm-subtopic-creation-button"
            type="submit" ng-disabled="!$ctrl.isSubtopicValid() || $ctrl.subtopicUrlFragmentExists" ng-click="$ctrl.save()">
      Создать подтему
    </button>
  </div>
</div>
<style>
  .new-subtopic-editor .form-text {
    margin-left: 37.5%;
    margin-top: -3%;
  }
  .new-subtopic-editor .thumbnail-editor {
    margin: 25px 0;
  }
  .new-subtopic-editor .description-editor {
    margin: 10px 0 0;
  }
  .new-subtopic-editor .error-msg {
    color: #ff0000;
    font-size: smaller;
    margin: 10px 0 0;
  }
  .oppia-create-new-subtopic-container .create-new-subtopic-content {
    margin: 15px 0;
  }
  .oppia-create-new-subtopic-container .oppia-new-subtopic-editable-field {
    font-size: 12px;
  }
  @media screen and (max-width: 768px) {
    .create-new-subtopic .modal-dialog {
      border: 0;
      border-radius: 0;
      margin: 0;
      padding: 0;
      width: 100vw;
    }
    .create-new-subtopic .modal-content {
      border: 0;
      border-radius: 0;
      height: 100vh;
      overflow: auto;
    }
    .create-new-subtopic .modal-header {
      align-items: center;
      background-color: #007EFF;
      display: flex;
    }
    .create-new-subtopic .modal-header h3 {
      color: #FFFFFF;
    }
    .create-new-subtopic .create-new-subtopic-input-field {
      margin: 25px 0;
    }
    .create-new-subtopic .modal-close-button {
      color: #FFFFFF;
      display: block;
      font-size: 20px;
    }
    .create-new-subtopic .ng-touched.ng-empty.required {
     outline: 1px solid #F00;
    }
  }
</style>
