<div class="modal-header">
  <h3>
    Выберите заблуждение, чтобы отметить его:
  </h3>
</div>
<div class="modal-body new-subtopic-title-editor">
  <question-misconception-selector misconception-feedback-is-used="tempMisconceptionFeedbackIsUsed"
                                   selected-misconception="tempSelectedMisconception"
                                   selected-misconception-skill-id="tempSelectedMisconceptionSkillId"
                                   tagged-skill-misconception-id="taggedSkillMisconceptionId">
  </question-misconception-selector>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" ng-click="cancel()"> Отмена </button>
  <button class="btn btn-success" ng-disabled="tempSelectedMisconception === null" ng-click="done()"> Сделано </button>
</div>
