<div class="modal-header">
  <h3> Отправить тему на проверку </h3>
</div>
<div class="modal-body oppia-long-text">
  <p>
    Прежде чем тема будет опубликована в курируемом разделе, ее должен просмотреть администратор урока.
  </p>
  <p>
    Нажмите кнопку ниже, чтобы отправить электронное письмо администраторам создания уроков, чтобы начать процесс окончательного просмотра и публикации.
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" ng-click="cancel()">Отмена</button>
  <button class="btn btn-success"ng-click="confirm()">
    Отправить письмо администраторам
  </button>
</div>
