<style>
  .oppia-learner-refresher-exploration-confirmation-body {
    word-wrap: break-word;
  }

  .oppia-learner-refresher-exploration-confirmation-title {
    color: #007EFF;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
  }
</style>
<div class="oppia-learner-refresher-exploration-confirmation-title">Хотите освежиться?</div>

<div class="modal-body">
  <span class="oppia-learner-refresher-exploration-confirmation-body">
    Похоже, у вас возникли проблемы с этим вопросом. Хотели бы вы попробовать небольшое занятие, чтобы освежить свою память, и вернуться сюда после того, как закончите?
  </span>
</div>
<div class="modal-footer">
  <button class="oppia-learner-got-it-button protractor-test-cancel-redirection-button md-button md-default-theme "
          ng-click="cancel()">Нет
  </button>
  <button class="oppia-learner-got-it-button protractor-test-confirm-redirection-button md-button md-default-theme "
          ng-click="confirmRedirect()">Да
  </button>
</div>
<span class="clearfix"></span>
