<div class="modal-header">
  <h3>
    Гоу отдыхать?
  </h3>
</div>

<div class="modal-body">
  <p style="
    font-family: 'Montserrat';
    font-weight: 500;">
    Кажется, кто-то очень быстро отправляешь ответы и к тому же, они не совсем верные. Ты не устал(а)?
  </p>
  <p style="
    font-family: 'Montserrat';
    font-weight: 500;">
    Если да, подумай о перерыве! Можно вернуться позжевоспользоваться подсказкой
  </p>
</br>
<p style="
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: italic;
    font-size: 13px;">
    А еще можешь воспользоваться подсказкой, так она выглядит <i class="material-icons"></i></p>
</div>

<div class="modal-footer">
  
  <button class="btn btn-success" ng-click="confirm()">Я готов продолжить урок</button>
</div>

<style>
  .modal-body p {
    line-height: 1.846;
  }
</style>
