<div class="modal-header">
  <h3> Сохранить черновик </h3>
</div>
<div class="modal-body oppia-long-text">
  <p>
    Введите краткое описание того, что вы изменили:
    <textarea rows="3" cols="50" maxlength="1000" ng-model="commitMessage" focus-on="saveChangesModalOpened" class="protractor-test-commit-message-input" autofocus></textarea>
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" ng-click="cancel()" type="button">Отмена</button>
  <button class="btn btn-success protractor-test-close-save-modal-button" ng-disabled="!commitMessage" ng-click="confirm(commitMessage)">
    Сохранить черновик
  </button>
</div>
