<div class="modal-header">
  <h3>Загрузить занятие</h3>
</div>

<div class="modal-body">
  <p>
    Эта форма позволяет вам загрузить файл YAML, соответствующее занятие. Однако вам нужно будет вручную загрузить любые дополнительные файлы изображений отдельно..
  </p>

  <br>
  <br>

  <p>
    <form role="form" class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <label for="newFileInput" class="col-lg-2 col-md-2 col-sm-2">
            Загрузить YAML file
          </label>
          <div class="col-lg-10 col-md-10 col-sm-10">
            <input id="newFileInput" type="file">
          </div>
        </div>
      </fieldset>
    </form>
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary protractor-test-cancel-create" ng-click="cancel()">Отмена</button>
  <button class="btn btn-success protractor-test-submit-new-exploration" type="submit"
          ng-click="save()">
    Загрузить занятие
  </button>
</div>
