<div class="oppia-settings-container">
  <md-card class="oppia-editor-card oppia-settings-card-container oppia-basic-settings-card oppia-mobile-collapsible-card">
    <div class="oppia-basic-settings-header oppia-mobile-collapsible-card-header" ng-click="$ctrl.toggleCards('settings')">
      <h3>Основные настройки</h3>
      <i class="fa fa-caret-down"
         ng-if="!$ctrl.basicSettingIsShown"
         aria-hidden="true">
      </i>
      <i class="fa fa-caret-up"
         ng-if="$ctrl.basicSettingIsShown"
         aria-hidden="true">
      </i>
    </div>

    <div class="oppia-mobile-collapsible-card-content" ng-if="$ctrl.basicSettingIsShown">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div ng-if="$ctrl.EditabilityService.isEditable()">
          <div role="form" class="form-horizontal">
            <div class="oppia-settings-input-group">
              <exploration-title-editor label-text="Название занятия"
                                        focus-label="<[::$ctrl.EXPLORATION_TITLE_INPUT_FOCUS_LABEL]>"
                                        on-input-field-blur="$ctrl.saveExplorationTitle()">
              </exploration-title-editor>
            </div>
            <div class="oppia-settings-input-group">
              <exploration-objective-editor label-text="Цель"
                                            on-input-field-blur="$ctrl.saveExplorationObjective()">
              </exploration-objective-editor>
            </div>

            <div ng-class="{'has-error': !$ctrl.explorationCategoryService.displayed}" class="oppia-settings-input-group">
              <label for="explorationCategory" class="d-block">Категории</label>
              <div>
                <div ng-if="$ctrl.hasPageLoaded">
                  <select2-dropdown id="explorationCategory"
                                    class="protractor-test-exploration-category-input"
                                    item="$ctrl.explorationCategoryService.displayed"
                                    choices="$ctrl.CATEGORY_LIST_FOR_SELECT2"
                                    placeholder="Выбрать или создать"
                                    new-choice-regex="^[A-Z a-z]+$"
                                    on-selection-change="$ctrl.saveExplorationCategory()"
                                    width="100%"
                                    invalid-search-term-message="Не валидное название">
                  </select2-dropdown>
                </div>
              </div>
            </div>
            <div class="oppia-settings-input-group">
              <label for="explorationLanguageCode" class="d-block">Язык</label>
              <div>
                <div>
                  <select id="explorationLanguageCode" class="form-control protractor-test-exploration-language-select" ng-model="$ctrl.explorationLanguageCodeService.displayed" ng-change="$ctrl.saveExplorationLanguageCode()" ng-options="lc.code as lc.description for lc in $ctrl.explorationLanguageCodeService.getSupportedContentLanguages()" width="100%">
                  </select>
                </div>
                
              </div>
            </div>
            <div class="oppia-settings-input-group">
              <label for="explorationInitStateName" class="d-block">Имя первой карточки</label>
              <div>
                <div>
                  <select id="explorationInitStateName" class="form-control protractor-test-initial-state-select" ng-model="$ctrl.explorationInitStateNameService.displayed" ng-change="$ctrl.saveExplorationInitStateName()" ng-options="name as name for name in $ctrl.stateNames track by name" width="85%">
                  </select>
                </div>
                <div>
                  <span class="form-text secondary-info-text">
                    <em>Это первая карта, которую видит учащийся, проходя ваше занятие</em>
                  </span>
                </div>
              </div>
            </div>
            <div class="oppia-settings-input-group">
              <label for="explorationTags" class="d-block">Тэги</label>
              <div>
                <div>
                  <div ng-if="$ctrl.hasPageLoaded">
                    <select2-dropdown item="$ctrl.explorationTagsService.displayed"
                                      choices="$ctrl.explorationTagsService.displayed"
                                      allow-multiple-choices="true"
                                      invalid-search-term-message="Добавить новый тег (используя строчные буквы и пробелы) ..."
                                      new-choice-regex="<[::$ctrl.TAG_REGEX]>"
                                      width="100%"
                                      placeholder="Навыки, направления, темы ..."
                                      on-selection-change="$ctrl.saveExplorationTags()">
                    </select2-dropdown>
                  </div>
                </div>
              </div>
              <div>
                <span class="form-text secondary-info-text">
                  <em>Теги помогают учащимся обнаружить ваши занятия при поиске.</em>
                </span>
              </div>
            </div>
            <div class="text-right">
              <button type="button" class="btn btn-secondary protractor-test-open-preview-summary-modal"
                      ng-click="$ctrl.previewSummaryTile()"
                      title="Посмотрите как будет выглядеть карточка">
                Предпросмотр
              </button>
            </div>
          </div>
        </div>

        <div ng-if="!$ctrl.EditabilityService.isEditable()">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 float-left">
              <label for="explorationTitle">
                Название занятия
              </label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10">
              <span id="explorationTitle" type="text">
                <[$ctrl.explorationTitleService.displayed]>
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 float-left">
              <label for="explorationObjective">
                Цель
              </label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10">
              <span id="explorationObjective" type="text">
                <[$ctrl.explorationObjectiveService.displayed]>
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 float-left">
              <label for="explorationCategory">
                Категории
              </label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10">
              <span id="explorationCategory" type="text">
                <[$ctrl.explorationCategoryService.displayed]>
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 float-left">
              <label for="explorationLanguageCode">Язык</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10">
              <[$ctrl.explorationLanguageCodeService.getCurrentLanguageDescription()]>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 float-left">
              <label for="explorationInitStateName">Начальное состояние</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10">
              <[$ctrl.explorationInitStateNameService.displayed]>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-card>

  <md-card class="oppia-settings-card-container oppia-advanced-features-card oppia-editor-card oppia-mobile-collapsible-card" ng-if="$ctrl.EditabilityService.isEditable()">
    <div class="oppia-basic-settings-header oppia-mobile-collapsible-card-header" ng-click="$ctrl.toggleCards('advanced_features')">
      <h3>Дополнительные настройки</h3>
      <i class="fa fa-caret-down"
         ng-if="!$ctrl.advancedFeaturesIsShown"
         aria-hidden="true">
      </i>
      <i class="fa fa-caret-up"
         ng-if="$ctrl.advancedFeaturesIsShown"
         aria-hidden="true">
      </i>
    </div>

    <div ng-if="$ctrl.advancedFeaturesIsShown" class="oppia-mobile-collapsible-card-content">
      <div role="form" class="form-horizontal">
        <div class="oppia-features-header">
          <label for="$ctrl.enableParameters">
            Параметры
          </label>
          <div>
            <div class="oppia-on-off-switch">
              <input span ng-if="$ctrl.areParametersEnabled()" type="checkbox" class="oppia-on-off-switch-checkbox" id="parameter-switch" checked disabled>
              <input span ng-if="!$ctrl.areParametersEnabled()" type="checkbox" class="oppia-on-off-switch-checkbox" id="parameter-switch" ng-click="$ctrl.enableParameters()">
              <label class="oppia-on-off-switch-label protractor-test-enable-parameters" for="parameter-switch">
                <span class="oppia-on-off-switch-inner"></span>
                <span class="oppia-on-off-switch-main"></span>
              </label>
            </div>
          </div>
        </div>
        <span class="form-text secondary-info-text">
          Параметры - это значения, которые изменяются при переходе учащегося между карточками. (<a href="http://oppia.github.io/#/Parameters" target="_blank" rel="noopener">подробнее тут</a>).
        </span>
      </div>
      <hr class="oppia-feature-separator">
      <div>
        <div>
          <div role="form" class="form-horizontal">
            <div class="oppia-features-header">
              <label for="enableAutomaticTextToSpeech">
                Авто преобразование текста в речь
              </label>
              <div>
                <div class="oppia-on-off-switch">
                  <input type="checkbox" ng-if="$ctrl.isAutomaticTextToSpeechEnabled()" class="oppia-on-off-switch-checkbox" id="text-speech-switch" ng-click="$ctrl.toggleAutomaticTextToSpeech()" checked>
                  <input type="checkbox" ng-if="!$ctrl.isAutomaticTextToSpeechEnabled()" class="oppia-on-off-switch-checkbox" id="text-speech-switch" ng-click="$ctrl.toggleAutomaticTextToSpeech()">
                  <label class="oppia-on-off-switch-label" for="text-speech-switch">
                    <span class="oppia-on-off-switch-inner"></span>
                    <span class="oppia-on-off-switch-main"></span>
                  </label>
                </div>
              </div>
            </div>
            <span class="form-text secondary-info-text">
              Автоматическое преобразование текста в речь генерирует звук из вашего контента, чтобы учащиеся могли его слушать. Рекомендуется отключить эту функцию при создании исследования, содержание которого состоит из нескольких языков.
            </span>
          </div>
        </div>
      </div>
      <hr class="oppia-feature-separator">
      <div role="form" class="form-horizontal">
        <div class="oppia-features-header">
          <label for="enableCorrectnessFeedback">
            Отзыв по обратной связи
          </label>
          <div>
            <div class="oppia-on-off-switch">
              <input type="checkbox" ng-if="!$ctrl.isCorrectnessFeedbackEnabled()" class="oppia-on-off-switch-checkbox" id="correctness-switch" ng-click="$ctrl.toggleCorrectnessFeedback()">
              <input type="checkbox" ng-if="$ctrl.isCorrectnessFeedbackEnabled()" class="oppia-on-off-switch-checkbox" id="correctness-switch" ng-click="$ctrl.toggleCorrectnessFeedback()" checked>
              <label class="oppia-on-off-switch-label protractor-test-enable-mark-correctness-feedback" for="correctness-switch">
                <span class="oppia-on-off-switch-inner"></span>
                <span class="oppia-on-off-switch-main"></span>
              </label>
            </div>
          </div>
        </div>
        <span class="form-text secondary-info-text">
          Отзыв по обратной связи позволяет пользователю разделить группы ответов на правильные или неправильные.
        </span>
      </div>
      <hr class="oppia-feature-separator">
    </div>

  </md-card>

  <md-card class="oppia-settings-card-container oppia-editor-card oppia-roles-editor-card oppia-mobile-collapsible-card">
    <div ng-if="$ctrl.ExplorationRightsService.ownerNames.length > 0 && !$ctrl.ExplorationRightsService.isCloned()">
      <div class="oppia-roles-container">
        <div class="oppia-basic-settings-header oppia-mobile-collapsible-card-header" ng-click="$ctrl.toggleCards('roles')">
          <h3>Роли</h3>
          <i class="fa fa-caret-down"
             ng-if="!$ctrl.rolesCardIsShown"
             aria-hidden="true">
          </i>
          <i class="fa fa-caret-up"
             ng-if="$ctrl.rolesCardIsShown"
             aria-hidden="true">
          </i>
        </div>
        <div class="oppia-mobile-collapsible-card-content" ng-if="$ctrl.rolesCardIsShown">
          <div ng-if="$ctrl.canModifyRoles" ng-hide="$ctrl.isRolesFormOpen" class="oppia-edit-roles-btn-container">
            <span ng-click="$ctrl.openEditRolesForm()" class="oppia-edit-roles-btn protractor-test-edit-roles">
              Редактировать
            </span>
          </div>

          <div ng-show="$ctrl.ExplorationRightsService.ownerNames.length > 0">
            <strong>Менеджеры</strong>
            <ul>
              <li ng-repeat="ownerName in $ctrl.ExplorationRightsService.ownerNames track by $index">
                <[ownerName]>
              </li>
            </ul>
          </div>

          <div ng-show="$ctrl.ExplorationRightsService.editorNames.length > 0">
            <strong>Соавторы</strong>
            <ul>
              <li ng-repeat="editorName in $ctrl.ExplorationRightsService.editorNames track by $index">
                <[editorName]>
              </li>
            </ul>
          </div>

          <div ng-show="$ctrl.ExplorationRightsService.voiceArtistNames.length > 0">
            <strong>Голосвые исполнители</strong>
            <ul>
              <li ng-repeat="voiceArtistName in $ctrl.ExplorationRightsService.voiceArtistNames track by $index">
                <[voiceArtistName]>
              </li>
            </ul>
          </div>

          <div ng-show="$ctrl.ExplorationRightsService.viewerNames.length > 0">
            <strong>Тестеры</strong>
            <ul>
              <li ng-repeat="viewerName in $ctrl.ExplorationRightsService.viewerNames track by $index">
                <[viewerName]>
              </li>
            </ul>
          </div>

          <div ng-if="$ctrl.canModifyRoles" ng-show="$ctrl.isRolesFormOpen">
            <strong>Добавить или изменить роль</strong>
            <div class="form-group">
              <form ng-submit="$ctrl.editRole($ctrl.newMemberUsername, $ctrl.newMemberRole.value)">
                <label for="$ctrl.newMemberUsername">Имя приглашенного пользователя</label>
                <div>
                  <input type="text" id="$ctrl.newMemberUsername" class="form-control protractor-test-role-username" ng-model="$ctrl.newMemberUsername" placeholder="username">
                </div>
                <br>
                <label for="$ctrl.newMemberRole">Роль приглашенного пользователя</label>
                <div>
                  <select ng-model="$ctrl.newMemberRole" class="form-control oppia-role-select protractor-test-role-select" ng-options="r.name for r in $ctrl.ROLES">
                  </select>
                  <span class="form-text">
                    <p>Обратите внимание, что менеджеры также имеют разрешения соавторов, соавторы также имеют разрешения голосовых исполнителей, а голосовые исполнители также имеют разрешения зрителей. Обратите внимание, что назначение ролей необратимо (хотя вы всегда можете назначить кого-то на более высокую роль).</p>
                  </span>
                </div>

                <input type="submit" class="btn btn-secondary protractor-test-save-role" value="Save" ng-disabled="!$ctrl.isTitlePresent()">
                <button type="button" class="btn btn-secondary" ng-click="$ctrl.closeEditRolesForm()" ng-show="$ctrl.isRolesFormOpen">
                  Отмена
                </button>
                <p ng-show="!$ctrl.isTitlePresent()" class="text-danger protractor-test-title-warning">Пожалуйста, укажите заголовок перед приглашением.</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-card>

  <md-card class="oppia-settings-card-container oppia-editor-card oppia-permissions-card oppia-mobile-collapsible-card">
    <div>
      <div class="oppia-basic-settings-header oppia-mobile-collapsible-card-header" ng-click="$ctrl.toggleCards('permissions')">
        <h3>Доступы</h3>
        <i class="fa fa-caret-down"
           ng-if="!$ctrl.permissionsCardIsShown"
           aria-hidden="true">
        </i>
        <i class="fa fa-caret-up"
           ng-if="$ctrl.permissionsCardIsShown"
           aria-hidden="true">
        </i>
      </div>
      <div class="oppia-mobile-collapsible-card-content" ng-if="$ctrl.permissionsCardIsShown">
        <p ng-if="$ctrl.ExplorationRightsService.isPrivate() && $ctrl.ExplorationRightsService.viewableIfPrivate()">
          Это занятие <strong>приватное</strong>. Все, у кого есть ссылка, могут получить к ней доступ.
        </p>
        <p ng-if="$ctrl.ExplorationRightsService.isPrivate() && !$ctrl.ExplorationRightsService.viewableIfPrivate()">
          Это занятие <strong>приватное</strong>. Только приглашенные пользователи, модераторы и администраторы сайта могут
          получить доступ к нему.
        </p>
        <p ng-if="!$ctrl.ExplorationRightsService.isPrivate()">
          Это занятие <strong>публичное</strong>: любой может получить к нему доступ.
        </p>

        <p ng-if="!$ctrl.ExplorationRightsService.isPrivate() || $ctrl.ExplorationRightsService.viewableIfPrivate()">
          <em>Ссылка, чтобы поделиться:</em>
          <input class="form-control" type="text" value="<[$ctrl.getExplorePageUrl(explorationId)]>" readonly="readonly" onClick="this.select();">
        </p>

        <br>

        <p ng-if="$ctrl.ExplorationRightsService.isPrivate()">
          <strong>Не показывать</strong> в библиотеке Oqustudy.
        </p>
        <p ng-if="!$ctrl.ExplorationRightsService.isPrivate()">
          <strong>Показывать</strong> в библиотеке Oqustudy.
        </p>

        <div ng-if="$ctrl.ExplorationRightsService.ownerNames.length === 0 && !$ctrl.ExplorationRightsService.isCloned()">
          <h3>Доступы</h3>
          <div>
            Это занятие <strong>публичное</strong> и <strong>редактируется любым</strong>.
            <p ng-if="!$ctrl.ExplorationRightsService.isPrivate()">
             <strong>Показывать</strong> в библиотеке Oqustudy.
            </p>
          </div>
        </div>

        <div ng-if="$ctrl.ExplorationRightsService.isCloned()">
          <h3>Статус</h3>
          <div>
            Это занятие было <strong>клонированно</strong> с другого занятия.
          </div>
        </div>
      </div>
    </div>
  </md-card>

  <md-card class="oppia-settings-card-container oppia-editor-card oppia-feedback-card oppia-mobile-collapsible-card" ng-if="$ctrl.EditabilityService.isEditable()">
    <div class="oppia-basic-settings-header oppia-mobile-collapsible-card-header" ng-click="$ctrl.toggleCards('feedback')">
      <h3>Настройки электронной почты для отзывов / предложений</h3>
      <i class="fa fa-caret-down"
         ng-if="!$ctrl.feedbackCardIsShown"
         aria-hidden="true">
      </i>
      <i class="fa fa-caret-up"
         ng-if="$ctrl.feedbackCardIsShown"
         aria-hidden="true">
      </i>
    </div>
    <div class="oppia-mobile-collapsible-card-content" ng-if="$ctrl.feedbackCardIsShown">
      <div role="form" class="form-horizontal">
        <div class="oppia-features-header">
          <label for="FeedbackNotifications">
            Письма с отзывами
          </label>
          <div>
            <div class="oppia-on-off-switch">
              <input span ng-if="$ctrl.UserEmailPreferencesService.areFeedbackNotificationsMuted()" type="checkbox" class="oppia-on-off-switch-checkbox" id="feedback-switch" checked ng-click="$ctrl.unmuteFeedbackNotifications()">
              <input span ng-if="!$ctrl.UserEmailPreferencesService.areFeedbackNotificationsMuted()" type="checkbox" class="oppia-on-off-switch-checkbox" id="feedback-switch" ng-click="$ctrl.muteFeedbackNotifications()">
              <label class="oppia-on-off-switch-label protractor-test-enable-fallbacks" for="feedback-switch">
                <span class="oppia-on-off-switch-inner"></span>
                <span class="oppia-on-off-switch-main"></span>
              </label>
            </div>
          </div>
        </div>
        <span class="form-text secondary-info-text" ng-if="!$ctrl.UserEmailPreferencesService.areFeedbackNotificationsMuted()">
          В настоящее время вы получаете уведомления о новых отзывах об этом исследовании.
        </span>
        <span class="form-text secondary-info-text" ng-if="$ctrl.UserEmailPreferencesService.areFeedbackNotificationsMuted()">
          Вы отключили уведомления об обратной связи для этого исследования. Вы не получите письмо по электронной почте, когда будет отправлен новый отзыв.
        </span>
      </div>
      <hr class="oppia-feature-separator">
      <div role="form" class="form-horizontal">
        <div class="oppia-features-header">
          <label for="SuggestionNotifications">
            Письма с предложениями
          </label>
          <div>
            <div class="oppia-on-off-switch">
              <input span ng-if="$ctrl.UserEmailPreferencesService.areSuggestionNotificationsMuted()" type="checkbox" class="oppia-on-off-switch-checkbox protractor-test-enable-fallbacks" id="suggestion-switch" checked ng-click="$ctrl.unmuteSuggestionNotifications()">
              <input span ng-if="!$ctrl.UserEmailPreferencesService.areSuggestionNotificationsMuted()" type="checkbox" class="oppia-on-off-switch-checkbox protractor-test-enable-fallbacks" id="suggestion-switch" ng-click="$ctrl.muteSuggestionNotifications()">
              <label class="oppia-on-off-switch-label" for="suggestion-switch">
                <span class="oppia-on-off-switch-inner"></span>
                <span class="oppia-on-off-switch-main"></span>
              </label>
            </div>
          </div>
          <span class="form-text secondary-info-text" ng-if="!$ctrl.UserEmailPreferencesService.areSuggestionNotificationsMuted()">
            В настоящее время вы получаете уведомления о новых предложениях по этому исследованию.
          </span>
          <span class="form-text secondary-info-text" ng-if="$ctrl.UserEmailPreferencesService.areSuggestionNotificationsMuted()">
            Вы отключили уведомления о предложениях для этого исследования. Вы не получите письмо по электронной почте, когда будет отправлено новое предложение.
          </span>
        </div>
      </div>
      <hr class="oppia-feature-separator">
    </div>
  </md-card>

  <md-card class="oppia-settings-card-container oppia-editor-card oppia-mobile-collapsible-card" ng-if="$ctrl.EditabilityService.isEditable()">
    <div class="oppia-basic-settings-header oppia-mobile-collapsible-card-header" ng-click="$ctrl.toggleCards('controls')">
      <h3>Управление</h3>
      <i class="fa fa-caret-down"
         ng-if="!$ctrl.controlsCardIsShown"
         aria-hidden="true">
      </i>
      <i class="fa fa-caret-up"
         ng-if="$ctrl.controlsCardIsShown"
         aria-hidden="true">
      </i>
    </div>
    <div class="oppia-mobile-collapsible-card-content" ng-if="$ctrl.controlsCardIsShown">
      <p ng-if="$ctrl.canReleaseOwnership" class="oppia-exploration-ctrl" ng-hide="$ctrl.ExplorationRightsService.isCommunityOwned()">
        <button type="button" class="btn btn-secondary" ng-click="$ctrl.showTransferExplorationOwnershipModal()" ng-disabled="$ctrl.isExplorationLockedForEditing()">
          Передать право собственности
        </button>
        <span ng-if="$ctrl.isExplorationLockedForEditing()">
          <br>
          Пожалуйста, сначала сохраните ваши изменения.
        </span>
      </p>
      <p ng-if="$ctrl.canDelete" class="oppia-exploration-ctrl">
        <button type="button" ng-if="$ctrl.ExplorationRightsService.isPrivate()"
                class="btn oppia-delete-button" ng-click="$ctrl.deleteExploration()"
                title="Удалить занятие">
          Удалить занятие
        </button>
      </p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6" ng-if="$ctrl.currentUserIsAdmin || $ctrl.currentUserIsModerator">
      <h3>Управление админа</h3>

      <p ng-if="$ctrl.canUnpublish" class="oppia-exploration-ctrl oppia-exploration-ctrl-admin" ng-show="$ctrl.ExplorationRightsService.isPublic()">
        <button type="button" class="btn btn-secondary" ng-click="$ctrl.unpublishExplorationAsModerator()" ng-disabled="$ctrl.isExplorationLockedForEditing()">
          Отменить публикацию
          <span ng-if="$ctrl.currentUserIsAdmin">(как админ)</span>
          <span ng-if="!$ctrl.currentUserIsAdmin && $ctrl.currentUserIsModerator">(как модератор)</span>
        </button>
      </p>

      <p class="oppia-exploration-ctrl oppia-exploration-ctrl-admin" ng-if="$ctrl.ExplorationRightsService.isPublic() && ($ctrl.currentUserIsAdmin || $ctrl.currentUserIsModerator)">
        <button type="button" class="btn oppia-delete-button protractor-test-delete-exploration-button"
                ng-click="$ctrl.deleteExploration()">
          Удалить занятие
          <span ng-if="$ctrl.currentUserIsAdmin">(как админ)</span>
          <span ng-if="!$ctrl.currentUserIsAdmin && $ctrl.currentUserIsModerator">(как модератор)</span>
        </button>
      </p>
    </div>
  </md-card>

  <md-card class="oppia-settings-card-container oppia-editor-card oppia-parameters-card" ng-if="$ctrl.areParametersEnabled()">
    <h3>Параметры, используемые в этом занятии</h3>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div ng-show="isEmpty($ctrl.explorationParamSpecsService.savedMemento.getParamDict())">
          <em>Параметры не используются.</em>
        </div>
        <ol>
          <li ng-repeat="(paramName, paramSpec) in $ctrl.explorationParamSpecsService.savedMemento.getParamDict()">
            <b><[paramName]></b> (<[paramSpec.getType().getName()]>)
          </li>
        </ol>
      </div>
    </div>

    <h3>
      Изменение начального параметра
      <i class="material-icons md-18 oppia-info-icon" uib-tooltip="Эти изменения применяются до того, как учащийся начнет занятие."
         tooltip-placement="right">
        &#xE88E;
      </i>
    </h3>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 protractor-test-exploration-edit-param-changes">
        <param-changes-editor param-changes-service="$ctrl.explorationParamChangesService"
                              post-save-hook="$ctrl.postSaveParamChangesHook"
                              currently-in-settings-tab="true">
        </param-changes-editor>
      </div>
    </div>
  </md-card>
</div>

<style>
  .oppia-advanced-features-card .oppia-on-off-switch-label,
  .oppia-feedback-card .oppia-on-off-switch-label {
    height: 24px;
    width: auto;
  }
  .oppia-advanced-features-card .oppia-feature-separator {
    margin: 20px 0 20px 0;
  }
  .oppia-advanced-features-card .form-horizontal > label,
  .oppia-feedback-card .form-horizontal > label {
    float: left;
    height: auto;
    padding-right: 0;
    width: 610px;
  }
  settings-tab .oppia-settings-container {
    margin: 0 auto;
    width: 45%;
  }
  .oppia-settings-card-container h3 {
    margin-top: 0;
  }
  settings-tab .oppia-settings-card-container {
    
    box-shadow: 0px 8px 20px rgba(37, 40, 43, 0.08);
    padding: 30px 55px;
  }
  settings-tab .oppia-settings-input-group {
    padding: 12px 0;
  }
  settings-tab .oppia-features-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  settings-tab .oppia-roles-container {
    position: relative;
  }
  settings-tab .oppia-edit-roles-btn-container {
    position: absolute;
    right: 0;
    text-align: right;
  }
  settings-tab .oppia-edit-roles-btn {
    color: #007EFF;
    cursor: pointer;
    font-weight: normal;
    border: 1px solid #007EFF;
    border-radius: 19px;
    padding: 9px;
  }
  settings-tab .oppia-permissions-card {
    color: #666;
  }
  settings-tab .oppia-delete-button {
    background-color: #FB4E4E;
    color: #FFF;
    margin-bottom: 12px;
  }
  settings-tab .secondary-info-text {
    font-size: smaller;
  }
  settings-tab .oppia-basic-settings-header i {
    display: none;
  }
  settings-tab .oppia-role-select {
    width: 250px;
  }
  settings-tab .oppia-info-icon {
    padding-left: 4px;
    vertical-align: text-top;
  }
  @media screen and (max-width: 1200px) {
    settings-tab .oppia-settings-container {
      width: 60%;
    }
  }
  @media screen and (max-width: 900px) {
    settings-tab .oppia-settings-container {
      width: 90%;
    }
  }
  @media screen and (max-width: 768px) {
    settings-tab .oppia-settings-container {
      width: 100%;
    }
    settings-tab .oppia-basic-settings-header i {
      display: block;
    }
    settings-tab .oppia-settings-card-container {
      border: 0;
      padding: 0;
    }
    settings-tab .oppia-basic-settings-header {
      display: flex;
      justify-content: space-between;
    }
    settings-tab .oppia-settings-card-container h3 {
      margin-bottom: 0;
    }
  }
</style>
