<div class="oppia-lost-changes">
  <ul>
    <li ng-repeat="lostChange in $ctrl.lostChanges">
      <span ng-if="lostChange.cmd === 'add_state'">
        Добавлено состояние: <[lostChange.stateName]>
      </span>
      <span ng-if="lostChange.cmd === 'rename_state'">
        Переименовано состояние: <[lostChange.oldStateName]> to <[lostChange.newStateName]>
      </span>
      <span ng-if="lostChange.cmd === 'delete_state'">
        Удалено состояние: <[lostChange.stateName]>
      </span>
      <div ng-if="lostChange.cmd === 'edit_state_property'">
        Изменено состояние: <[lostChange.stateName]>
        <ng-content ng-switch="lostChange.propertyName">
          <div ng-switch-when="content">
            <div ng-if="!lostChange.isNewValueEmpty()" class="state-edit-desc">
              <strong>Изменен контент: </strong>
              <div class="content" ng-bind-html="lostChange.newValue.html">
              </div>
            </div>
          </div>

          <div ng-switch-when="widget_id" class="state-edit-desc">
            <span ng-if="lostChange.isAddingInteraction()">
              <strong>Добавлен интерактив: </strong>
              <[lostChange.newValue]>
            </span>

            <span ng-if="lostChange.isEndingExploration()">
              Завершено занятие
            </span>

            <span ng-if="!lostChange.isOldValueEmpty()">
              <strong>Удалено занятие: </strong>
              <[lostChange.oldValue]>
            </span>
          </div>

          <div ng-switch-when="widget_customization_args" class="state-edit-desc">
            <span ng-if="lostChange.isOldValueEmpty()">
              Добавлены настройки интерактива
            </span>
            <span ng-if="!lostChange.isOldValueEmpty() && lostChange.isNewValueEmpty()">
              Удалены настройки интерактива
            </span>
            <span ng-if="!lostChange.isOldValueEmpty() && !lostChange.isNewValueEmpty()">
              Изменены настройки интерактива
            </span>
          </div>

          <div ng-switch-when="answer_groups">
            <div ng-if="lostChange.getRelativeChangeToGroups() === 'added'" class="state-edit-desc answer-group">
              <strong>Добавлена ​​группа ответов: </strong>
              <p class="sub-edit">
                <i>Назначение: </i><[lostChange.newValue.outcome.dest]>
              </p>

              <div class="sub-edit">
                <i>Feedback: </i>
                <div class="feedback">
                  <[lostChange.newValue.outcome.feedback.getHtml()]>
                </div>
              </div>

              <div class="sub-edit" ng-if="lostChange.newValue.rules.length > 0">
                <i>Правила: </i>
                <ol class="rules-list">
                  <li ng-repeat="rule in lostChange.newValue.rules">
                    <p>Тип: <[rule.type]></p>
                    <p>Ценность:
                      <span> </span>
                      <ng-content ng-repeat="input in rule.inputs">
                        <[ $last ? input : (input + ',')]>
                      </ng-content>
                    </p>
                  </li>
                </ol>
              </div>

            </div>

            <div ng-if="lostChange.getRelativeChangeToGroups() === 'edited'" class="state-edit-desc answer-group">
              <strong>Изменена ​​группа ответов: </strong>
              <p class="sub-edit" ng-if="!isOutcomeDestEqual()">
                <i>Назначение: </i>
                <[lostChange.newValue.outcome.dest]>
              </p>

              <div class="sub-edit" ng-if="lostChange.isOutcomeFeedbackEqual()">
                <i>Feedback: </i>
                <div class="feedback">
                  <[lostChange.newValue.outcome.feedback.getHtml()]>
                </div>
              </div>

              <div class="sub-edit" ng-if="lostChange.isRulesEqual()">
                <i>Правила: </i>
                <ol class="rules-list">
                  <li ng-repeat="rule in lostChange.newValue.rules track by $index">
                    <p>Тип: <[rule.type]></p>
                    <p>Ценность:
                      <span> </span>
                      <ng-content ng-repeat="input in rule.inputs">
                        <[ $last ? input : (input + ',')]>
                      </ng-content>
                    </p>
                  </li>
                </ol>
              </div>
            </div>

            <div ng-if="lostChange.getRelativeChangeToGroups() === 'deleted'" class="state-edit-desc">
              Удалена ​​группа ответов
            </div>
          </div>

          <div ng-switch-when="default_outcome">
            <div ng-if="lostChange.getRelativeChangeToGroups() === 'added'" class="state-edit-desc default-outcome">
              Добавлен исход по умолчанию:
              <p class="sub-edit">
                <i>Назначение: </i><[lostChange.newValue.dest]>
              </p>
              <div class="sub-edit">
                <i>Feedback: </i>
                <div class="feedback">
                  <[lostChange.newValue.feedback.getHtml()]>
                </div>
              </div>
            </div>

            <div ng-if="lostChange.getRelativeChangeToGroups() === 'edited'" class="state-edit-desc default-outcome">
              Изменен исход по умолчанию:
              <p class="sub-edit" ng-if="!isDestEqual()">
                <i>Назначение: </i><[lostChange.newValue.dest]>
              </p>

              <div class="sub-edit" ng-if="lostChange.isFeedbackEqual()">
                <i>Feedback: </i>
                <div class="feedback">
                  <[lostChange.newValue.feedback.getHtml()]>
                </div>
              </div>
            </div>

            <div ng-if="lostChange.getRelativeChangeToGroups() === 'deleted'" class="state-edit-desc">
              Удален исход по умолчанию
            </div>
          </div>
        </ng-content>
      </div>
    </li>
  </ul>
</div>
