<div class="modal-header">
  <h3>Предварительный просмотр карточки</h3>
</div>

<div class="modal-body text-center">
  Вот как ваша деятельность будет отображаться учащимся в результатах поиска
  или библиотека.
  <exploration-summary-tile exploration-title="getExplorationTitle()"
                            objective="getExplorationObjective()"
                            category="getExplorationCategory()"
                            thumbnail-icon-url="getThumbnailIconUrl()"
                            thumbnail-bg-color="getThumbnailBgColor()"
                            class="protractor-test-exploration-summary-tile">
  </exploration-summary-tile>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary protractor-test-close-preview-summary-modal" ng-click="cancel()">Вернуться</button>
</div>
