<div class="modal-header">
  <h3>Вернуть занятие</h3>
</div>

<div class="modal-body oppia-long-text">
  <p>
    Вы собираетесь вернуть это занятие к версии <[version]>. Все изменения, внесенные после предыдущей версии, будут отозваны, и вы потеряете все несохраненные изменения.
  </p>
  <p>
    Перед возвратом вы можете предварительно просмотреть занятие, к которому вы возвращаетесь, следуя <a ng-href="<[getExplorationUrl(version)]>" target="_blank" rel="noopener">эта ссылка</a>. (Откроется в новом окне.)
  </p>
  <p>
    Вы уверены, что хотите вернуть это занятие к версии <[version]>?
  </p>
</div>

<div class="modal-footer">
  <button class="btn btn-danger protractor-test-confirm-revert" ng-click="confirm(version)">Вернуть</button>
  <button class="btn btn-secondary" ng-click="cancel()">Отмена</button>
</div>
