<div class="modal-header">
  <h3>Добавить некоторые детали</h3>
</div>

<div class="modal-body oppia-long-text">
  <p>
    Еще несколько вещей перед публикацией:
  </p>
  <p ng-if="$ctrl.requireTitleToBeSpecified">
    Добавьте заголовок: как должен называться ваш курс?
    <input type="text" class="form-control protractor-collection-editor-title-input" ng-model="$ctrl.newTitle"
           placeholder="Сложение чисел">
  </p>
  <p ng-if="$ctrl.requireObjectiveToBeSpecified">
    Добавьте цель: чем курс поможет ученикам?
    <input type="text" class="form-control protractor-collection-editor-objective-input" ng-model="$ctrl.newObjective"
           placeholder="Узнайте, как ...">
  </p>
  <p ng-if="$ctrl.requireCategoryToBeSpecified">
    Добавьте категорию: как бы вы классифицировали свой курс?
    <select2-dropdown item="$ctrl.newCategory"
                      choices="$ctrl.CATEGORY_LIST_FOR_SELECT2"
                      class="protractor-test-collection-editor-category-dropdown"
                      placeholder="Выберите или введите новый"
                      new-choice-regex="^[A-Z a-z]+$"
                      width="100%"
                      invalid-search-term-message="Invalid category name">
    </select2-dropdown>
  </p>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" ng-click="$ctrl.cancel()">Отмена</button>
  <button class="btn btn-success protractor-test-collection-save-changes-button" ng-click="$ctrl.save()" ng-disabled="!$ctrl.isSavingAllowed()">Сохранить</button>
</div>
