<div class="modal-header protractor-test-save-modal">
  <h3>
    <span ng-if="isCollectionPrivate">Сохранить черновик</span>
    <span ng-if="!isCollectionPrivate">Опубликовать</span>
  </h3>
</div>
<div class="modal-body oppia-long-text">
  <p>
    <span ng-if="isCollectionPrivate">(Опционально)</span>
    Введите краткое описание того, что вы изменили:
    <textarea rows="3" cols="50" maxlength="1000" ng-model="commitMessage" focus-on="saveChangesModalOpened" class="protractor-test-commit-message-input" autofocus></textarea>
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" ng-click="cancel()">Отмена</button>
  <button class="btn btn-success protractor-test-close-save-modal-button" ng-disabled="!isCollectionPrivate && !commitMessage" ng-click="confirm(commitMessage)">
    <span ng-if="isCollectionPrivate">Сохранить черновик</span>
    <span ng-if="!isCollectionPrivate">Опубликовать</span>
  </button>
</div>
