<!-- NOTE: This page should not contain any direct anchors to internal links. If the user visits an internal
link before completing the signup process, they will be logged out.
-->

<div class="oppia-page-cards-container oppia-signup-page-container">
  <md-card class="oppia-page-card">
    <h2 class="oppia-signup-page-title" translate="I18N_EMAIL_CONFIRMATION_SUCCESSFUL"></h2>
    <p style="margin: 35px auto 5px auto;
    color: #757575;
    font-style: italic;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;">И теперь можете 
<a href="/login" onclick="" translate="I18N_REDIRECT_LOGIN"></a></p>
  </md-card>
</div>
<style>
  signup-page .oppia-signup-page-container .oppia-long-text > label {
    font-weight: normal;
  }
  signup-page .oppia-username-input {
    width: 260px;
  }
  signup-page .oppia-username-explanation-text {
    font-size: 0.8em;
  }
  signup-page .oppia-warning-text-container {
    height: 18px;
    width: 550px;
  }
  signup-page .oppia-warning-text {
    color: #ff0000;
    font-size: 0.8em;
  }
  signup-page .oppia-form-text-size {
    font-size: smaller
  }
  signup-page .oppia-signup-site-description-text {
    font-size: 1em;
  }
</style>
