<p class="topic-dashboard-link">
  <a href="/topics-and-skills-dashboard">
    Назад к списку тем <i class="fa fa-angle-left"></i>
  </a>
  <span><[editableName]></span>
</p>
<a class="oppia-mobile-back-to-parent" href="/topics-and-skills-dashboard">
  <i class="fa fa-angle-left"></i>
  <span>Назад к списку тем</span>
</a>
<div role="form" class="form-horizontal topic-editor">
  <div class="topic-content-container">
    <md-card class="oppia-long-text topic-item-card oppia-mobile-collapsible-card">
      <div class="topic-editor-main-container">
        <div class="item-list-card-header oppia-mobile-collapsible-card-header" ng-click="togglePreviewListCards()">
          <h3 class="topic-card-header">Детали темы</h3>
          <i class="fa fa-caret-down"
             ng-if="!mainTopicCardIsShown"
             aria-hidden="true">
          </i>
          <i class="fa fa-caret-up"
             ng-if="mainTopicCardIsShown"
             aria-hidden="true">
          </i>
        </div>
        <div ng-if="mainTopicCardIsShown">
          <div class="oppia-mobile-collapsible-card-content">
            <div class="topic-name">
              <label for="topicName" class="form-heading protractor-test-topic-name-heading">Название</label>
              <input id="topicName" type="text" class="form-control protractor-test-topic-name-field"
                     ng-disabled="!topicRights.canEditTopic()"
                     ng-model="editableName" ng-blur="updateTopicName(editableName)"
                     placeholder="Введите название темы."
                     maxlength="<[MAX_CHARS_IN_TOPIC_NAME]>"
                     ng-trim="false"
                     ng-class="{'is-invalid': topicNameExists}">
              <span class="oppia-input-box-subtitle">
                <em>
                  Название темы должно быть не более <[MAX_CHARS_IN_TOPIC_NAME]> символов.
                </em>
              </span>
              <div ng-if="topicNameExists" class="oppia-input-box-subtitle text-danger">
                <em>
                  Тема с таким названием уже существует.
                </em>
              </div>
            </div>
            <div class="topic-url-fragment">
              <label for="topicUrlFragment" class="form-heading protractor-test-topic-url-fragment-heading">Фрагмент URL темы</label>
              <input id="topicUrlFragment" type="text" class="form-control protractor-test-topic-url-fragment-field"
                     ng-disabled="!topicRights.canEditTopic()"
                     ng-model="editableTopicUrlFragment" ng-blur="updateTopicUrlFragment(editableTopicUrlFragment)"
                     maxlength="<[MAX_CHARS_IN_TOPIC_URL_FRAGMENT]>" ng-trim="true"
                     ng-class="{'is-invalid': topicUrlFragmentExists}">
              <span class="oppia-input-box-subtitle">
                <em>
                  Фрагмент URL-адреса темы используется для однозначного доступа к странице просмотра темы.. Он должен состоять из одного или нескольких слов, разделенных дефисом, в нижнем регистре, не более <[MAX_CHARS_IN_TOPIC_URL_FRAGMENT]> всего персонажей. Используйте значимые ключевые слова и избегайте таких слов, как "and", "of", или "the".
                  Доступ к этой теме можно получить по следующему URL-адресу:<br>
                  <[hostname]>/learn/<[getClassroomUrlFragment()]>/<[editableTopicUrlFragment]>
                </em>
              </span>
              <div ng-if="topicUrlFragmentExists" class="oppia-input-box-subtitle text-danger">
                <em>
                  Фрагмент URL этой темы уже существует.
                </em>
              </div>
            </div>
            <div class="topic-description" ng-class="{'has-error': editableDescriptionIsEmpty && topicDescriptionChanged}">
              <label for="topicDescription" class="form-heading protractor-test-topic-description-heading">Описание</label>
              <textarea type="text" class="form-control topic-description protractor-test-topic-description-field"
                        ng-model="editableDescription" maxlength="<[MAX_CHARS_IN_TOPIC_DESCRIPTION]>"
                        ng-change="updateTopicDescriptionStatus(editableDescription)"
                        ng-blur="updateTopicDescription(editableDescription)"
                        placeholder="Введите описание темы">
              </textarea>
              <span class="oppia-input-box-subtitle">
                <em>
                  Описание темы должно быть не более <[MAX_CHARS_IN_TOPIC_DESCRIPTION]> символов.
                </em>
              </span>
              <span ng-if="editableDescriptionIsEmpty && topicDescriptionChanged" class="form-text">
                Что в этой теме?
              </span>
            </div>
            <div class="topic-meta-tag-content" ng-class="{'has-error': editableMetaTagContent.length === 0}">
              <label for="topicMetaTagContent" class="form-heading protractor-test-topic-meta-tag-content-label">Содержимое метатега</label>
              <textarea type="text" class="form-control topic-description protractor-test-topic-meta-tag-content-field"
                        ng-model="editableMetaTagContent" maxlength="<[MAX_CHARS_IN_META_TAG_CONTENT]>"
                        ng-blur="updateTopicMetaTagContent(editableMetaTagContent)"
                        placeholder="Введите содержание метатега для темы">
              </textarea>
              <span class="oppia-input-box-subtitle">
                <em>
                  Мета-теги предоставляют информацию о веб-странице. Эта информация не будет отображаться на странице, но ее могут прочитать поисковые системы и веб-сканеры. Этот текст будет показан пользователям в результатах поиска.
                  Содержание метатега темы должно быть не более <[MAX_CHARS_IN_META_TAG_CONTENT]> символов.
                </em>
              </span>
            </div>
            <label class="form-heading">Обложка</label>
            <thumbnail-uploader disabled="!topicRights.canEditTopic()"
                                filename="topic.getThumbnailFilename()"
                                update-filename="updateTopicThumbnailFilename"
                                bg-color="topic.getThumbnailBgColor()"
                                update-bg-color="updateTopicThumbnailBgColor"
                                allowed-bg-colors="allowedBgColors"
                                aspect-ratio="'4:3'"
                                preview-title="editableName"
                                preview-description=""
                                preview-description-bg-color="'#007EFF'"
                                preview-footer="topic.getCanonicalStoryIds().length + ' Lessons'">
            </thumbnail-uploader>
          </div>
        </div>
      </div>
      <div ng-if="topic.getThumbnailFilename() && mainTopicCardIsShown">
        <div ng-if="!topicPreviewCardIsShown" >
          <button class="btn btn-default show-topic-preview-button" ng-click="togglePreview()">
            Развернуть предпросмотр
            <i class="fa fa-angle-down"></i>
          </button>
        </div>
        <div ng-if="topicPreviewCardIsShown">
          <button class="btn btn-default show-topic-preview-button" ng-click="togglePreview()">
            Свернуть предпросмотр
            <i class="fa fa-angle-up"></i>
          </button>
        </div>
        <div ng-if="topic.getId() && topicPreviewCardIsShown">
          <preview-thumbnail name="editableName"
                             aspect-ratio="'4:3'"
                             preview-footer="getPreviewFooter()"
                             filename = "topic.getThumbnailFilename()"
                             thumbnail-bg-color="topic.getThumbnailBgColor()"
                             bg-color="'#007EFF'">
          </preview-thumbnail>
        </div>
      </div>
    </md-card>
    <md-card class="item-list-card subtopic-skill-card-container topic-bottom-card oppia-mobile-collapsible-card">
      <div class="item-list-card-header oppia-mobile-collapsible-card-header" ng-click="togglePreviewListCards(SUBTOPIC_LIST)">
        <div class="subtopic-reassign-header">
          <h3>Подтемы</h3>
          <span class="reassign-button protractor-test-reassign-skill-button" ng-click="reassignSkillsInSubtopics()">Переназначение</span>
          <i class="fa fa-caret-down"
             ng-if="!subtopicsListIsShown"
             aria-hidden="true">
          </i>
          <i class="fa fa-caret-up"
             ng-if="subtopicsListIsShown"
             aria-hidden="true">
          </i>
        </div>
      </div>
      <div ng-if="subtopicsListIsShown" class="oppia-mobile-collapsible-card-content">
        <div>
          <label>
            <input class="practice-tab-checkbox" type="checkbox" ng-model="editablePracticeIsDisplayed" ng-change="updatePracticeTabIsDisplayed(editablePracticeIsDisplayed)">
            <span class="practice-tab-text"> Показать закладку "Практика" учащимся.</span>
          </label>
          <i class="fas fa-info-circle practice-tab-info-circle" title="This setting show/hides the practice tab in the topic viewer page. It is recommended that this option be enabled only if there are at least 5 questions attached to the topic"></i>
        </div>
        <button class="btn add-subtopic-btn protractor-test-add-subtopic-button puppeteer-test-add-subtopic-button" ng-click="createSubtopic()">
          + Добавить подтему
        </button>
        <button class="btn add-skill-btn protractor-test-add-skill-button puppeteer-test-add-skill-button" ng-click="createSkill()">
          + Добавить навык
        </button>
        <div ng-if="(subtopics.length || uncategorizedSkillSummaries.length) && subtopicsListIsShown">
          <div class="list-header">
            <span>Название</span>
            <span class="number-skills-header"># вопросов</span>
          </div>
          <div class="subtopic-name-header" ng-class="{'skills-valid': !uncategorizedSkillSummaries.length, 'skills-invalid': uncategorizedSkillSummaries.length}">
            <span>Навыки без категорий</span>
          </div>
          <div ng-repeat="skillSummary in uncategorizedSkillSummaries track by $index" class="subtopic-skill skills-list-item protractor-test-skill-item">
            <a ng-href="<[getSkillEditorUrl(skillSummary.getId())]>" target="_blank" rel="noopener">
              <span class="clickable-item"><[skillSummary.getDescription()]></span>
            </a>
            <div class="edit-options-container">
              <i class="fa fa-ellipsis-v" ng-click="toggleUncategorizedSkillOptions($index)"></i>
            </div>
            <div class="uncategorized-skill-option-box"
                 ng-if="uncategorizedEditOptionsIndex === $index"
                 ng-mouseleave="toggleUncategorizedSkillOptions(null)"
                 ng-click="toggleUncategorizedSkillOptions(null)">
              <div class="uncategorized-skill-edit-option" ng-click="deleteUncategorizedSkillFromTopic(skillSummary)">
                <i class="fa fa-trash"></i>
                <span>Удалить из темы</span>
              </div>
              <div class="uncategorized-skill-edit-option edit-option-assign" ng-click="changeSubtopicAssignment(null, skillSummary)">
                <i class="fa fa-plus"></i>
                <span>Назначить подтему</span>
              </div>
            </div>
          </div>
          <div ng-repeat="subtopic in subtopics track by $index"
               ng-init="subtopicIndex = $index"
               dnd-list="subtopics"
               dnd-dragstart="onRearrangeSubtopicStart($index)"
               dnd-drop="onRearrangeSubtopicEnd($index)"
               dnd-draggable="subtopic">
            <div class="subtopics-list-item">
              <div class="subtopic-name-header subtopic-name-card-header" ng-click="toggleSubtopicCard(subtopicIndex)">
                <span class="clickable-item" ng-click="navigateToSubtopic(subtopic.getId(), subtopic.getTitle())">
                  <span class="material-icons draggable-icon-indicator">drag_indicator</span>
                  <span class="protractor-test-subtopic"><[subtopic.getTitle()]></span>
                </span>
                <div class="subtopic-edit-options-container edit-options-container">
                  <span><[subtopicQuestionCountDict[subtopic.getId()] ]></span>
                  <i class="fa fa-ellipsis-v protractor-test-show-subtopic-options" ng-click="showSubtopicEditOptions($index);$event.stopPropagation()"></i>
                  <div ng-if="subtopicEditOptionsAreShown === subtopicIndex" class="subtopic-edit-options" ng-click="deleteSubtopic(subtopic.getId())" ng-mouseleave="showSubtopicEditOptions(null)">
                    <i class="fa fa-trash protractor-test-delete-subtopic-button"></i>
                    <span>Удалить</span>
                  </div>
                </div>
              </div>
              <div ng-if="subtopicCardSelectedIndexes[subtopicIndex]">
                <div ng-if="subtopic.getSkillSummaries().length">
                  <div ng-repeat="skillSummary in subtopic.getSkillSummaries() track by $index" ng-init="skillIndex = $index" class="subtopic-skill skills-list-item skill-description-container">
                    <a ng-href="<[getSkillEditorUrl(skillSummary.getId())]>" target="_blank" rel="noopener">
                      <span class="clickable-item"><[skillSummary.getDescription()]></span>
                    </a>
                    <div class="edit-options-container">
                      <span><[skillQuestionCountDict[skillSummary.getId()] ]></span>
                      <i class="fa fa-ellipsis-v" ng-click="showSkillEditOptions(subtopicIndex, skillIndex);$event.stopPropagation()"></i>
                    </div>
                    <div class="skill-option-box" ng-if="selectedSkillEditOptionsIndex[subtopicIndex][skillIndex]" ng-mouseleave="showSkillEditOptions(null)" ng-click="showSkillEditOptions(null)">
                      <div class="skill-edit-option" ng-click="removeSkillFromSubtopic(subtopic.getId(), skillSummary)">
                        <i class="fa fa-trash"></i>
                        <span>Удалить из подтемы</span>
                      </div>
                      <div class="skill-edit-option" ng-click="changeSubtopicAssignment(subtopic.getId(), skillSummary)">
                        <i class="fa fa-plus"></i>
                        <span>Изменить подтему</span>
                      </div>
                      <div class="skill-edit-option remove-from-topic-option" ng-click="removeSkillFromTopic(subtopic.getId(), skillSummary)">
                        <i class="fa fa-trash"></i>
                        <span>Удалить из темы</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-if="!subtopic.getSkillSummaries().length">
                  <span class="subtopic-skill">С этой подтемой не связаны никакие навыки.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
  <div class="topic-info-container">
    <md-card class="item-list-card topic-item-card topic-bottom-card oppia-mobile-collapsible-card">
      <div class="item-list-card-header oppia-mobile-collapsible-card-header" ng-click="togglePreviewListCards(STORY_LIST)">
        <h3>Канонические истории</h3>
        <i class="fa fa-caret-down"
           ng-if="!storiesListIsShown"
           aria-hidden="true">
        </i>
        <i class="fa fa-caret-up"
           ng-if="storiesListIsShown"
           aria-hidden="true">
        </i>
      </div>
      <div ng-if="storiesListIsShown" class="oppia-mobile-collapsible-card-content">
        <button class="btn add-story-btn protractor-test-create-story-button"
                ng-click="createCanonicalStory()">
          + Добавить историю
        </button>
        <div class="canonical-stories">
          <topic-editor-stories-list ng-if="topic.getCanonicalStoryIds().length > 0"
                                     story-summaries="canonicalStorySummaries"
                                     topic="topic">
          </topic-editor-stories-list>
        </div>
      </div>
    </md-card>
    <md-card class="entity-count">
      <div class="subtopic-count">
        <span class="subtopic-count-value" ng-if="!topicDataHasLoaded"><loading-dots></loading-dots></span>
        <span class="subtopic-count-value" ng-if="topicDataHasLoaded"><[topic.getSubtopics().length]></span>
        <span class="subtopic-count-text">Подтемы</span>
      </div>
      <div class="skill-count">
        <span class="skill-count-value" ng-if="!topicDataHasLoaded"><loading-dots></loading-dots></span>
        <span class="skill-count-value" ng-if="topicDataHasLoaded"><[topic.getSkillIds().length]></span>
        <span class="skill-count-text">Навыки</span>
      </div>
      <div class="story-count">
        <span class="story-count-value" ng-if="!topicDataHasLoaded"><loading-dots></loading-dots></span>
        <span class="story-count-value" ng-if="topicDataHasLoaded"><[topic.getCanonicalStoryIds().length]></span>
        <span class="story-count-text">Истории</span>
      </div>
    </md-card>
  </div>
  <div>
  </div>
</div>
<style>
  topic-editor-tab .topic-editor thumbnail-uploader {
    margin-bottom: 15px;
  }

  topic-editor-tab .topic-editor textarea {
    resize: vertical;
  }

  topic-editor-tab .topic-editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 85%;
  }

  .topic-editor .topic-content-container {
    margin-right: 3%;
    width: 50%;
  }

  .topic-editor .topic-info-container {
    width: 35%;
  }

  .topic-editor .topic-item-card {
    margin: 0;
    border-top-right-radius: 8px;
    border-top-left-radius:  8px;
  }

  .topic-editor .add-entity-text {
    color: #808080;
    margin-top: 20px;
  }

  topic-editor-tab .topic-dashboard-link {
    font-size: 15px;
    margin-bottom: 35px;
    margin-left: 4%;
  }

  topic-editor-tab .topic-dashboard-link a {
    text-decoration: none;
  }

  .topic-editor .topic-preview-container {
    text-align: center;
  }

  .topic-editor .topic-preview-container button {
    margin: 15px 0;
  }

  .topic-editor .entity-count {
    align-items: center;
    background-color: #FFF;
   
    border-radius: 8px;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    height: 110px;
    justify-content: center;
    margin: 30px auto 0;
    width: 97%;
    box-shadow: 0px 8px 20px rgba(37, 40, 43, 0.08);
  }

  .topic-editor .subtopic-count,
  .topic-editor .skill-count,
  .topic-editor .story-count {
    border-right: 2px solid #aaaac1;
    display: inline-block;
    text-align: center;
    width: 33%;
  }

  .topic-editor .story-count {
    border-right: none;
  }
  .topic-editor .topic-card-header {
    margin-bottom: 30px;
    margin-left: -20px;
  }

  .topic-editor .skills-list-item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .topic-editor .skills-list-item a {
    color: inherit;
    text-decoration: none;
    width: 75%;
  }

  .topic-editor .edit-options-container {
    margin-right: 14px;
    color: #52575C;
  }

  .topic-editor .edit-options-container span {
    margin-right: 38px;
  }

  .topic-editor .number-skills-header {
    margin-right: 30px;
  }

  .topic-editor .subtopic-count-value,
  .topic-editor .skill-count-value,
  .topic-editor .story-count-value {
    display: block;
    font-size: 26px;
    height: 40px;
    color: #000;
  }

  .topic-editor .topic-editor-main-container {
    font-family: "Roboto", Arial, sans-serif;
    padding: 30px 55px 30px 45px;
    box-shadow: 0px 8px 20px rgba(37, 40, 43, 0.08);
  }

  .topic-editor .show-topic-preview-button {

    color: #007EFF;
    font-size: 15px;
    padding: 10px 0;
    width: 100%;
  }

  .topic-editor .form-heading {
    font-size: 15px;
  }

  .topic-editor .topic-name,
  .topic-editor .topic-url-fragment,
  .topic-editor .topic-meta-tag-content {
    margin-bottom: 25px;
    margin-top: 32px;
  }

  .topic-editor .canonical-stories {
    margin-top: 20px;
  }

  .topic-editor .topic-description textarea,
  .topic-editor .topic-meta-tag-content textarea {
    height: 10vh;
  }

  .topic-editor .add-subtopic-btn,
  .topic-editor .add-skill-btn,
  .topic-editor .add-story-btn {
    background-color: #007EFF;
    color: #FFFFFF;
    
    text-align: left;
  }

  .topic-editor .add-subtopic-btn {
    width: 170px;
    margin: 10px;
  }

  .topic-editor .add-skill-btn {
    width: 160px;
    margin: 10px;
  }

  .topic-editor .add-story-btn {
    width: 170px;
    margin: 10px;
  }

  .topic-editor .item-list-card {
    font-family: "Roboto", Arial, sans-serif;
    padding: 30px 55px 30px 45px;
    box-shadow: 0px 8px 20px rgba(37, 40, 43, 0.08);
    border-radius: 8px;
  }

  .topic-editor .list-header {
    border-bottom: 2px solid #52575C;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
  }

  .topic-editor .list-header span {
    font-weight: normal;
    color: #52575C;
    font-size: 15px;

  }

  .topic-editor .subtopics-list-item {
    margin: 7px 0;
  }

  .topic-editor .subtopic-name-header {
    align-items: center;
    background-color: #CCE5FF;
    box-shadow: 0px 4px 8px rgba(37, 40, 43, 0.14);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .topic-editor .skill-option-box {
    background-color: #e1dcdc;
    color: #000;
    padding: 0;
    position: absolute;
    right: -6px;
    width: 210px;
    z-index: 1;

  }

  .topic-editor .uncategorized-skill-option-box {
    background-color: #fff;
    border-radius: 4px;
    padding: 0;
    position: absolute;
    right: 7px;
    width: 210px;
    z-index: 1;
    box-shadow: 0px 8px 20px rgba(37, 40, 43, 0.08);
  }

  .topic-editor .skill-edit-option {
    background-color: #fff;
    color: #000;
    
    border: 1px solid #52575C;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    box-shadow: 0px 8px 20px rgba(37, 40, 43, 0.08);
  }

  .topic-editor .uncategorized-skill-edit-option {
    border-bottom: 1px solid #52575C;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
  }

  .topic-editor .edit-option-assign {
    border-bottom: none;
  }

  .topic-editor .remove-from-topic-option {
    border-bottom: none;
  }

  .topic-editor .reassign-button {
    color: #007EFF;
    cursor: pointer;
  }

  .topic-editor .subtopic-reassign-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .topic-editor .subtopic-edit-options-container {
    position: relative;
  }

  .topic-editor .subtopic-edit-options {
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    position: absolute;
    right: -7px;
    top: 0;
    width: 140px;
    box-shadow: 0px 8px 20px rgba(37, 40, 43, 0.08);
  }

  .topic-editor .skill-description-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .topic-editor .skills-valid {
    background-color: #E8E8E8;
  
  }

  .topic-editor .skills-invalid {
    background-color: #E8E8E8;
    
  }

  .topic-editor .clickable-item:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #007EFF
  }

  .topic-editor .subtopic-skill {
    border-bottom: 1px solid #e3e3e3;
    padding: 8px 10px 8px 32px;
    color: #007EFF;
  }

  .topic-editor .item-list-card-header i {
    display: none;
  }

  .topic-editor .subtopic-skill-card-container {
    margin-top: 64px;
  }

  .topic-editor .practice-tab-info-circle {
    background: #000;
    border-radius: 10px;
    color: #FFF;
    margin-left: 3px;
    padding: 1px;
  }

  .topic-editor .practice-tab-checkbox {
    box-shadow: rgb(102, 102, 102) 0px 0px 0px 2px inset;
  }

  .topic-editor .practice-tab-text {
    font-weight: normal;
    padding-left: 5px;
  }

  @media screen and (max-width: 1200px) {
    .topic-editor .topic-content-container {
      width: 50%;
    }

    .topic-editor .topic-info-container {
      margin-top: 34px;
      width: 40%;
    }
  }

  @media screen and (max-width: 1000px) {
    .topic-editor .topic-content-container {
      width: 55%;
    }

    .topic-editor .topic-info-container {
      margin-top: 34px;
      width: 45%;
    }
  }

  @media screen and (max-width: 768px) {
    topic-editor-tab .topic-editor {
      margin-bottom: 15px;
      width: 100%;
    }

    topic-editor-tab .topic-dashboard-link {
      display: none;
    }

    .topic-editor .topic-bottom-card {
      margin-top: 40px;
    }

    .topic-editor .item-list-card {
      padding: 0;
    }

    .topic-editor .entity-count,
    .topic-editor .draggable-icon-indicator {
      display: none;
    }

    .topic-editor .subtopic-skill-card-container {
      margin-top: inherit;
    }

    .topic-editor .item-list-card-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .topic-editor .topic-editor-main-container {
      padding: 0;
    }

    .topic-editor .skills-list-item a {
      color: inherit;
      text-decoration: none;
      width: 65%;
    }

    .topic-editor .topic-card-header,
    .topic-editor .subtopic-reassign-header,
    .topic-editor .item-list-card-header h3 {
      font-size: 19px;
      margin: 0;
    }

    .topic-editor .subtopic-skill {
      border-bottom: 1px solid #e3e3e3;
      padding: 8px 10px 8px 20px;
    }

    .topic-editor .item-list-card-header i {
      display: inline-block;
      font-size: 18px;
    }

    .topic-editor .topic-content-container {
      margin-right: 0;
      margin-top: 30px;
      width: 100%;
    }

    .topic-editor .subtopic-reassign-header {
      width: 100%;
    }

    .topic-editor .reassign-button {
      display: none;
    }

    .topic-editor .topic-info-container {
      margin-top: 0;
      width: 100%;
    }

    .topic-editor .add-subtopic-btn {
      width: 50%;
    }

    .topic-editor .add-skill-btn {
      margin-left: 3%;
    }

    .topic-editor .skill-option-box {
      right: 40px;
    }

    .topic-editor .subtopic-edit-options {
      right: 13px;
    }

    .topic-editor .uncategorized-skill-option-box {
      right: 43px;
    }
  }
</style>
