<div class="improvements-tab-task-container">
  <div class="improvements-tab-task-header">
    <div class="improvements-tab-task-health-bar improvements-tab-critical">&nbsp;</div>
    <div class="improvements-tab-task-overview">
      <div class="improvements-tab-task-overview-title">Нужны руководящие ответы</div>
      <div class="improvements-tab-task-overview-summary">Предоставьте обратную связь для ответов, которые в настоящее время не получают</div>
    </div>
  </div>
  <div class="improvements-tab-task-body">
    <div class="improvements-tab-task-details">
      <div class="improvements-tab-task-details-header">Лучшие ответы без обратной связи</div>

      <oppia-visualization-sorted-tiles data="$ctrl.sortedTilesData"
                                        options="$ctrl.sortedTilesOptions"
                                        total-frequency="$ctrl.sortedTilesTotalFrequency">
      </oppia-visualization-sorted-tiles>

      <div class="improvements-tab-task-actions">
        <a ng-click="$ctrl.navigateToStateEditor()">
          Адресные ответы <i class="material-icons improvements-tab-east-icon">восток</i>
        </a>
      </div>
    </div>
    <div class="improvements-tab-task-suggestions">
      <div class="improvements-tab-suggestions-header">предложения</div>
      <div class="improvements-tab-suggestions-content">
        <strong>Дать направление</strong><br>
        Обращайте внимание на наиболее частые неправильные ответы, чтобы ваши ученики могли выявлять и исправлять ошибки в
        их понимание.
      </div>
    </div>
  </div>
</div>
