<footer class="oppia-footer" role="contentinfo">
  <div class="oppia-footer-container">
    <div class="row">
      <div class="col-sm-3">
        <h4 translate="I18N_FOOTER_ABOUT_ALL_CAPS"></h4>
        <ul>
       <!--   <li><a href="/get-started" translate="I18N_FOOTER_GET_STARTED"></a></li> -->
          <li><a href="/community-library" translate="I18N_FOOTER_BROWSE_LIBRARY"></a></li>
    <!-- <li><a href="/terms" class="protractor-test-terms-link" translate="I18N_FOOTER_TERMS_OF_SERVICE"></a></li>
          <li><a href="/privacy-policy" class="protractor-test-privacy-policy-link" translate="I18N_FOOTER_PRIVACY_POLICY"></a></li>  
    -->
        </ul>
      </div>
       <div class="col-sm-3">
        <h4 translate="I18N_TOPNAV_CONTACT_US"></h4>
        <ul>
          <li><a href="tel:+77475318623" style="color: white">+7 (747) 531-86-23</a></li>
          <li><a href="mailto:oqustudy@gmail.com" style="color: white">info_support@oqustudy.kz
</a></li>
         <li><a href="https://go.2gis.com/a9w7hn">Нур-Султан, Мангилик ел С3.5 - Astana Hub, 207каб</a></li>
        </ul>
      </div>
    <!--
      <div class="col-sm-3">
        <h4><span translate="I18N_LANGUAGE_FOOTER_VIEW_IN"></span></h4>
        <social-buttons></social-buttons>
      </div>
    -->
    </div>
  </div>
</footer>
