<!-- NOTE: This page should not contain any direct anchors to internal links. If the user visits an internal
link before completing the signup process, they will be logged out.
-->

<div class="oppia-page-cards-container oppia-signup-page-container">
  <md-card class="oppia-page-card">
    <h2 class="oppia-signup-page-title" translate="I18N_SIGNUP_REGISTRATION"></h2>

    <form>
      <div ng-show="!$ctrl.hasUsername" role="form" class="form-horizontal">
        <div class="form-group row">
          <label for="username" class="col-lg-3 col-md-3 col-sm-3" translate="I18N_SIGNUP_USERNAME" style="font-family: 'Montserrat';
    font-weight: 500; margin-bottom: 5px;" ></label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <input type="text" placeholder="Username" ng-model="$ctrl.username" id="username" class="form-control oppia-username-input protractor-test-username-input" ng-blur="$ctrl.onUsernameInputFormBlur($ctrl.username)" ng-change="$ctrl.updateWarningText($ctrl.username)" ng-trim="false" focus-on="usernameInputField" autofocus="true">
            <span class="form-text oppia-username-explanation-text" translate="I18N_SIGNUP_USERNAME_EXPLANATION" style="
    font-style: italic;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
"></span>
            <div class="oppia-warning-text-container">
              <p class="oppia-warning-text" aria-live="assertive" ng-show="$ctrl.blurredAtLeastOnce" translate="<[$ctrl.warningI18nCode]>" translate-values="{maxUsernameLength: $ctrl.MAX_USERNAME_LENGTH}"style="
    font-style: italic;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
"></p>
            </div>
          </div>
          <label for="email" class="col-lg-3 col-md-3 col-sm-3" translate="I18N_REGISTRATION_EMAIL"style="font-family: 'Montserrat';
    font-weight: 500; margin-bottom: 5px;" ></label>
            <div class="col-lg-9 col-md-9 col-sm-9" style="
    margin-bottom: 20px;
">
              <input type="email" placeholder="example@gmail.com" ng-model="$ctrl.email" id="email" class="form-control oppia-username-input protractor-test-username-input" ng-trim="false" autofocus="true">
            </div>
          <label for="password" class="col-lg-3 col-md-3 col-sm-3" translate="I18N_REGISTRATION_PASSWORD" style="font-family: 'Montserrat';
    font-weight: 500; margin-bottom: 5px;"></label>
           <div class="col-lg-9 col-md-9 col-sm-9" style="
    margin-bottom: 20px;
">
            <input type="password" placeholder="******" ng-model="$ctrl.password" id="password" class="form-control oppia-username-input protractor-test-username-input" ng-trim="false" autofocus="true">
            </div>
          <label for="role" class="col-lg-3 col-md-3 col-sm-3" translate="I18N_REGISTRATION_ROLE" style="font-family: 'Montserrat';
    font-weight: 500; margin-bottom: 5px;"></label>
           <div class="col-lg-9 col-md-9 col-sm-9">
             <select id="role" ng-options="roleName as roleString for (roleName, roleString) in $ctrl.CREATEABLE_ROLES" ng-model="$ctrl.role" class="form-control protractor-update-form-role-select" style="
    width: 260px;
">
            </select>
          </div>
        </div>

        <div ng-show="$ctrl.showEmailPreferencesForm" class="form-group row">
          <label for="$ctrl.canReceiveEmailUpdates" class="col-lg-3 col-md-3 col-sm-3" translate="I18N_SIGNUP_EMAIL_PREFERENCES"></label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="radio">
              <label>
                <input type="radio" ng-model="$ctrl.canReceiveEmailUpdates" value="yes" name="canReceiveEmailUpdates" ng-change="$ctrl.onSelectEmailPreference()">
                <span translate="I18N_SIGNUP_SEND_ME_NEWS"></span>
              </label>
              <label>
                <input type="radio" ng-model="$ctrl.canReceiveEmailUpdates" value="no" name="canReceiveEmailUpdates" ng-change="$ctrl.onSelectEmailPreference()">
                <span translate="I18N_SIGNUP_DO_NOT_SEND_EMAILS"></span>
              </label>
              <span class="form-text oppia-form-text-size" translate="I18N_SIGNUP_EMAIL_PREFERENCES_EXPLAIN">
              </span>
            </div>
            <div class="oppia-warning-text-container">
              <span class="oppia-warning-text" aria-live="assertive" ng-show="$ctrl.blurredAtLeastOnce" translate="<[$ctrl.emailPreferencesWarningText]>">
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="oppia-long-text" ng-if="$ctrl.hasEverRegistered">
        <p>
          <em translate="I18N_SIGNUP_UPDATE_WARNING"></em>
        </p>
      </div>
      <div class="oppia-long-text" ng-if="!$ctrl.hasEverRegistered">
        <p class="oppia-signup-site-description-text" translate="I18N_SIGNUP_SITE_DESCRIPTION" translate-values="{sitename: $ctrl.siteName}">
        </p>
      </div>


      <div class="checkbox oppia-long-text">
        <label>
          <input type="checkbox" ng-model="$ctrl.hasAgreedToLatestTerms"
                 class="protractor-test-agree-to-terms-checkbox" id="terms-checkbox">
          <span translate="I18N_SIGNUP_AGREE_LICENSE_DESCRIPTION" style="
    font-style: italic;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
" translate-value-sitename="<[$ctrl.siteName]>">
          </span>
        </label>
      </div>

<div class="center oppia-splash-button-container">
      <button type="submit" class="btn oppia-navbar-button"
              ng-disabled="$ctrl.warningI18nCode || !$ctrl.hasAgreedToLatestTerms || $ctrl.submissionInProcess"
              ng-click="$ctrl.submitPrerequisitesForm($ctrl.hasAgreedToLatestTerms, $ctrl.username, $ctrl.canReceiveEmailUpdates)"
              translate="I18N_SIGNUP_BUTTON_SUBMIT"
              id="signup-submit" style="width: 250px;height: 40px;border-radius: 25px;">
      </button>
    </div>
    </form>
  </md-card>
</div>
<style>
  .center {
    margin: 50px auto 20px auto;
    text-align: center;
    position: relative;
  }
  signup-page .oppia-signup-page-container .oppia-long-text > label {
    font-weight: normal;
  }
  signup-page .oppia-username-input {
    width: 260px;
  }
  signup-page .oppia-username-explanation-text {
    font-size: 0.8em;
  }
  signup-page .oppia-warning-text-container {
    height: 18px;
    width: 550px;
  }
  signup-page .oppia-warning-text {
    color: #ff0000;
    font-size: 0.8em;
  }
  signup-page .oppia-form-text-size {
    font-size: smaller
  }
  signup-page .oppia-signup-site-description-text {
    font-size: 1em;
  }
</style>
