<md-card class="oppia-page-card oppia-long-text" ng-if="$ctrl.hasPageLoaded()">
  <h2>Уровни доступа к курсу</h2>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5">
      <h3>Менеджеры</h3>
      <ul>
        <li ng-repeat="ownerName in $ctrl.collectionRights.getOwnerNames() track by $index">
          <[ownerName]>
        </li>
      </ul>
    </div>

    <div class="col-lg-7 col-md-7 col-sm-7">
      <h3>Доступы</h3>
      <div ng-if="$ctrl.collectionRights.isPrivate()">
        Этот курс <strong>приватный</strong>.
        <br>
        <br>
        Это <strong>не отображено</strong> в библиотеке Oqustudy.
      </div>
      <div ng-if="$ctrl.collectionRights.isPublic()">
        Этот курс <strong>публичный</strong>: любой может получить к нему доступ.
        <br>
        <br>
        Это <strong>доступно</strong> в библиотеке Oqustudy.
      </div>
    </div>
  </div>
</md-card>
