<div class="oppia-question-editor-container">
  <div class="modal-header">
    <h3>
      Вопрос <span ng-if="!newQuestionIsBeingCreated"> и связанные навыки </span> Редактор
    </h3>
  </div>
  <div class="modal-body oppia-modal-body">
    <div class="rubric-details" ng-repeat="skillName in skillNames track by $index">
      <h4 ng-if="skillName"><strong>Навык: <[skillName]></strong></h4>
      <h4><strong>Сложность: <[rubrics[$index].getDifficulty()]></strong></h4>
      <h4 ng-if="rubrics[$index].getExplanations().length > 0"><strong>Объяснение сложности</strong></h4>
      <ul>
        <li ng-repeat="explanation in rubrics[$index].getExplanations()">
          <span ng-bind-html="explanation"></span>
        </li>
      </ul>
    </div>
    <div ng-if="!newQuestionIsBeingCreated">
      <h4> <strong> Связанные навыки </strong> </h4>
      <md-card class="question-skill-id" ng-repeat="skill in associatedSkillSummaries">
        <div class="skill-description-card">
          <span class="float-right" ng-click="removeSkill(skill.getId())" aria-hidden="true">
            <i class="material-icons md-18 text-danger">&#xE14C;</i>
          </span>
          <a ng-href="<[getSkillEditorUrl(skill.getId())]>" target="_blank" rel="noopener">
            <[skill.getDescription()]>
          </a>
        </div>
      </md-card>
      <button class="btn btn-success btn-sm" ng-click="addSkill()"> + Связать еще навык</button>
      <button class="btn btn-primary btn-sm" ng-click="undo()" ng-if="getSkillLinkageModificationsArray().length > 0">Отменить изменения навыков</button>
    </div>

    <h4 ng-if="!newQuestionIsBeingCreated" class="oppia-question-editor-container"> <strong> Редактор вопросов </strong> </h4>
    <question-editor question-id="questionId"
                     misconceptions-by-skill="misconceptionsBySkill"
                     question-state-data="questionStateData"
                     question="question"
                     can-edit-question="canEditQuestion"
                     question-changed="questionChanged">
    </question-editor>
    <div class="alert alert-danger" ng-if="question.getStateData().interaction.id && question.getValidationErrorMessage()">
      <[question.getValidationErrorMessage()]>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" ng-click="cancel()"> Отмена </button>
    <button ng-if="newQuestionIsBeingCreated"
            title="To Save please add: interaction, hint, solution and address all misconceptions"
            class="btn btn-success protractor-test-save-question-button"
            ng-click="done()"
            ng-disabled="!isQuestionValid()">
      Сделано
    </button>
    <button ng-if="!newQuestionIsBeingCreated"
            class="btn btn-success protractor-test-save-question-button"
            ng-click="saveAndCommit()"
            ng-disabled="isSaveAndCommitButtonDisabled()">
      Сохранить и опубликовать
    </button>
  </div>
</div>
<style>
  .oppia-question-editor-container .question-skill-id {
    background-color: #efefef;
    margin-left: 0;
  }
  .oppia-question-editor-container .question-skill-id:hover {
    background-color: #e0e0e0;
  }
  .oppia-question-editor-container .rubric-details {
    padding: 10px 0;
  }
  .oppia-question-editor-container .skill-description-card {
    height: 2.5em;
    padding-left: 10px;
    padding-top: 10px;
  }
  .oppia-question-editor-container .oppia-modal-body {
    margin-left: 2%;
    width: 96%;
  }
  .oppia-question-editor-container .oppia-question-editor-container {
    margin-top: 4vh;
  }
</style>
