<div class="modal-header">
  <h3 ng-if="userIsLoggedIn"> Советы по обучению, основанные на ваших навыках </h3>
</div>

<div class="modal-body">
  <skill-mastery-viewer [skill-id]="skillId"
                        [mastery-change]="masteryChange"
                        ng-if="userIsLoggedIn">
  </skill-mastery-viewer>
  <div ng-if="!userIsLoggedIn">
    Похоже, вы вышли из системы! Войдите в систему, чтобы разблокировать больше функций, в том числе отслеживать свои навыки..
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()"> Закрыть </button>
  <button class="btn btn-success" ng-click="openConceptCardModal()"> Посмотреть концепт карточки </button>
</div>
