<div class="list-group">
  <a class="list-group-item protractor-test-topics-list-item"
     ng-repeat="topicSummary in topicSummaries"
     ng-click="selectOrDeselectTopic(topicSummary.id, $index)"
     ng-class="{'list-group-item-success': topicSummary.isSelected}">
    <label class="list-group-item-heading protractor-test-topic-name-in-topic-select-modal"><[topicSummary.name]></label>
    <p class="list-group-item-text">Количество навыков без категорий: <[topicSummary.uncategorizedSkillCount]></p>
    <p class="list-group-item-text">Статус: <[topicSummary.isPublished ? 'Опубликовано' : 'Не опубликовано']></p>
  </a>
</div>
