<style>
  .oppia-embed-exploration-modal .oppia-embed-modal-code {
    background-color: #fcfcfc;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    display: inline-block;
    padding: 10px;
  }

  .oppia-embed-exploration-modal .oppia-embed-modal-code:hover {
    background-color: #f9f9f9;
  }
</style>

<div class="oppia-embed-exploration-modal">
  <div class="modal-header">
    <h3>Вставить это занятие</h3>
  </div>

  <div class="modal-body">
    <p>
      Чтобы встроить это исследование на другую веб-страницу, скопируйте следующий HTML-код в исходный код веб-страницы.:
    </p>

    <div class="oppia-embed-modal-code" (click)="selectText($event)">&lt;iframe src="{{serverName}}/embed/exploration/{{explorationId}}" width="700" height="1000"&gt;</div>

    <p>
      Для получения дополнительных сведений, а также инструкций о том, как встроить конкретную версию занятия, обратитесь к админу.
    </p>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="cancel()">Закрыть</button>
  </div>
</div>
