<div>
  <p>
    Формулы, которые может принять учащийся (через запятую):<br>
    <input type="text" ng-model="$ctrl.localValue.assumptionsString" ng-trim="false" placeholder="Введите список формул." id="logicQuestionAssumptions" ng-change="$ctrl.changeAssumptions()">
  </p>
  <p>
    Формула, которую студент должен доказать:<br>
    <input type="text" ng-model="$ctrl.localValue.targetString" ng-trim="false" placeholder="Введите формулу." id="logicQuestionTarget" ng-change="$ctrl.changeTarget()">
  </p>
  <p>
    <div class="logic-proof-mistake-message"><[$ctrl.localValue.errorMessage]></div>
  </p>
  Подтверждение по умолчанию (необязательно):<br>
  <textarea ng-model="$ctrl.localValue.proofString" ng-trim="false" placeholder="Если это пример, введите доказательство." id="logicQuestionProof" ng-change="$ctrl.changeProof()"></textarea>
</div>
