<!DOCTYPE html>
<html ng-app="oppia" lang="<[currentLang]>" itemscope itemtype="http://schema.org/Organization">
  <head>
    @load('base-components/header.template.html', {"title": "Восстановление пароля - Oqustudy.kz"})
  </head>
  <!-- Chatra {literal} -->
<script>
    (function(d, w, c) {
        w.ChatraID = 'xzTntpYY7hXGGqs9j';
        var s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = 'https://call.chatra.io/chatra.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
</script>
<!-- /Chatra {/literal} -->
  <body>
    <oppia-root>
      <div ng-controller="Base">
        <base-content>
          <navbar-breadcrumb>
            <ul class="nav navbar-nav oppia-navbar-breadcrumb">
              <li>
                <span class="oppia-navbar-breadcrumb-separator"></span>
                <span translate="I18N_PASSWORD_RECOVERY"></span>
              </li>
            </ul>
          </navbar-breadcrumb>

          <content>
            <password-recovery-page></password-recovery-page>
          </content>
        </base-content>
      </div>

    </oppia-root>
    @load('pages/footer_js_libs.html')
  </body>
</html>
