<noscript>
  <div class="oppia-page-cards-container">
    <div class="md-default-theme oppia-page-card oppia-long-text">
      <!-- Note to developers: We replicate the translated text inline because, without JavaScript enabled, the translation engine doesn't kick in.-->
      <h2>
        <span translate="I18N_SPLASH_JAVASCRIPT_ERROR_TITLE">Нам нужен JavaScript в вашем браузере</span>
        <i class="material-icons">&#xE811;</i>
      </h2>
      <p translate="I18N_SPLASH_JAVASCRIPT_ERROR_DESCRIPTION"
         translate-values="{hrefUrl: 'http://www.enable-javascript.com/'}">
        Oqustudy - это бесплатная обучающая платформа с открытым исходным кодом, полная интерактивных занятий под названием  «занятие». К сожалению, Oqustudy требует, чтобы в вашем браузере был включен JavaScript.
        для правильной работы и в вашем браузере отключен JavaScript. Если тебе нужно
        помогите включить JavaScript, <a href="http://www.enable-javascript.com">Нажмите тут.</a>
      </p>
      <p translate="I18N_SPLASH_JAVASCRIPT_ERROR_THANKS">Спасибо.</p>
    </div>
  </div>
</noscript>
