<style>
  .add-misconception-modal .oppia-editor-description {
    font-size: .8em;
    font-style: italic;
  }

  .add-misconception-modal .oppia-misconception-editor-section {
    padding-bottom: 10px;
  }
</style>

<div class="add-misconception-modal protractor-test-add-misconception-modal">
  <div class="modal-header">
    <h3>Добавить заблуждение</h3>
  </div>

  <div class="modal-body">
    <div class="oppia-rule-details-header">
      <div class="oppia-misconception-editor-section">
        <strong>Название заблуждения</strong>
        <div>
          <span class="oppia-editor-description">Используйте имя, которое будет легко понять создателям вопросов.</span>
        </div>
        <div>
          <input class="form-control protractor-test-misconception-name-field" type="text" ng-model="misconceptionName" maxlength="<[MAX_CHARS_IN_MISCONCEPTION_NAME]>" autofocus>
          <span ng-if="misconceptionName.length === MAX_CHARS_IN_MISCONCEPTION_NAME" class="form-text oppia-form-error-text">
            <em>Пожалуйста, используйте не больше <[MAX_CHARS_IN_MISCONCEPTION_NAME]> символов.</em>
          </span>
        </div>
      </div>
      <div class="oppia-misconception-editor-section">
        <strong>Примечания для авторов</strong>
        <div>
          <span class="oppia-editor-description">Это дополнительные примечания для создателей вопросов, позволяющие понять, насколько полезна обработка этого заблуждения для проверяемого навыка.</span>
        </div>
        <schema-based-editor class="protractor-test-notes-textarea" schema="MISCONCEPTION_PROPERTY_FORM_SCHEMA" local-value="misconceptionNotes">
        </schema-based-editor>
      </div>
      <div class="oppia-misconception-editor-section">
        <strong>Отзыв по умолчанию</strong>
        <div>
          <span class="oppia-editor-description">Это обратная связь по умолчанию, которая предоставляется учащимся, когда они имеют это заблуждение. Создатели вопросов могут игнорировать этот отзыв.</span>
        </div>
        <schema-based-editor class="protractor-test-feedback-textarea" schema="MISCONCEPTION_FEEDBACK_PROPERTY_FORM_SCHEMA" local-value="misconceptionFeedback">
        </schema-based-editor>
      </div>
      <div class="oppia-misconception-editor-section">
        <strong>Должен ли быть ответ на это заблуждение на каждый вопрос, связанный с этим навыком?</strong>
        <input type="checkbox" ng-model="misconceptionMustBeAddressed">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" ng-click="cancel()" type="button">Отмена</button>
    <button class="btn btn-success protractor-test-confirm-add-misconception-button" ng-click="saveMisconception()" ng-disabled="!misconceptionName || misconceptionFeedback.length === 0">Сохранить</button>
  </div>
</div>
