<div class="modal-header protractor-test-add-worked-example-modal">
  <h3>Добавить рабочий пример</h3>
</div>

<div class="modal-body">
  <form name="addWorkedExampleForm.workedExampleTextForm"
        class="form-inline">
    <div class="oppia-rule-details-header">
      <strong>Пример вопроса</strong>
      <schema-based-editor class="protractor-test-worked-example-question"
                           schema="WORKED_EXAMPLE_FORM_SCHEMA"
                           local-value="tmpWorkedExampleQuestionHtml">
      </schema-based-editor>
      <div class="worked-example-explanation-section">
        <strong>Пример объяснения</strong>
        <schema-based-editor class="protractor-test-worked-example-explanation"
                             schema="WORKED_EXAMPLE_FORM_SCHEMA"
                             local-value="tmpWorkedExampleExplanationHtml">
        </schema-based-editor>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" ng-click="cancel()" type="button">Отмена</button>
  <button class="btn btn-success protractor-test-save-worked-example-button"
          ng-click="saveWorkedExample()"
          ng-disabled="!(tmpWorkedExampleQuestionHtml && tmpWorkedExampleExplanationHtml)">
    Сохранить
  </button>
</div>
<style>
  .worked-example-explanation-section {
    margin-top: 2.5vh;
  }
</style>
