<div class="modal-header create-new-topic-modal-header">
  <h3>
    Создать тему
  </h3>
  <i class="fa fa-times modal-close-button" ng-click="cancel()"></i>
</div>
<form ng-submit="save()">
  <div class="modal-body create-new-topic-form">
    <div class="create-new-topic-input-field">
      <div><span class="create-new-topic-input-label">Название</span></div>
      <input class="protractor-test-new-topic-name-field required"
             ng-model="newlyCreatedTopic.name"
             maxlength="<[MAX_CHARS_IN_TOPIC_NAME]>"
             ng-change="onTopicNameChange()" autofocus>
      <div class="oppia-input-box-subtitle">
        <em>
          Название темы должно быть не более <[MAX_CHARS_IN_TOPIC_NAME]> символов.
        </em>
      </div>
      <div ng-if="topicNameExists" class="oppia-input-box-subtitle text-danger">
        <em>
          Тема с таким названием уже существует.
        </em>
      </div>
    </div>
    <div class="create-new-topic-input-field">
      <div><span class="create-new-topic-input-label">Фрагмент URL темы</span></div>
      <input class="protractor-test-new-topic-url-fragment-field required"
             ng-model="newlyCreatedTopic.urlFragment"
             maxlength="<[MAX_CHARS_IN_TOPIC_URL_FRAGMENT]>"
             ng-class="{'invalid-field': topicUrlFragmentExists || !validUrlFragmentRegex.test(newlyCreatedTopic.urlFragment)}"
             ng-change="onTopicUrlFragmentChange()">
      <div>
        <span class="oppia-input-box-subtitle">
          <em>
            Фрагмент URL-адреса темы используется для однозначного доступа к странице просмотра темы. Он должен состоять из одного или нескольких слов, разделенных дефисом, в нижнем регистре., максимум с <[MAX_CHARS_IN_TOPIC_URL_FRAGMENT]> символов. Пожалуйста, используйте ключевые слова, и избегайте таких слов, как "and", "of", или "the".
            This topic can be accessed at the following URL:<br>
            <[hostname]>/learn/staging/<[newlyCreatedTopic.urlFragment]>
          </em>
        </span>
        <div ng-if="topicUrlFragmentExists" class="oppia-input-box-subtitle text-danger">
          <em>
            Фрагмент URL этой темы уже существует.
          </em>
        </div>
      </div>
    </div>
    <div class="create-new-topic-input-field">
      <div><span class="create-new-topic-input-label">Описание</span></div>
      <textarea class="protractor-test-new-topic-description-field required"
                rows="4" cols="50" placeholder="Введите описание"
                maxlength="<[MAX_CHARS_IN_TOPIC_DESCRIPTION]>"
                ng-model="newlyCreatedTopic.description">
      </textarea>
      <div class="oppia-input-box-subtitle">
        <em>
          Описание темы должно быть не более <[MAX_CHARS_IN_TOPIC_DESCRIPTION]> символов.
        </em>
      </div>
    </div>
    <div class="create-new-topic-input-field">
      <label class="create-new-topic-input-label">Обложка темы*</label>
      <thumbnail-uploader preview-title="newlyCreatedTopic.name"
                          aspect-ratio="'4:3'"
                          disabled="false"
                          use-local-storage="true"
                          allowed-bg-colors="allowedBgColors"
                          preview-description-bg-color="'#2F6687'">
      </thumbnail-uploader>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" ng-click="cancel()" type="button">Отмена</button>
    <button class="btn btn-success protractor-test-confirm-topic-creation-button" type="submit" ng-disabled="!isValid()">
      <span>Создать тему</span>
    </button>
  </div>
</form>
<style>
  .create-new-topic-form .ng-touched.invalid-field,
  .create-new-topic-form .ng-touched.ng-empty.required {
     outline: 1px solid #F00;
  }
  .create-new-topic-form .create-new-topic-input-field {
     margin: 10px 0;
  }
  .create-new-topic-form .create-new-topic-input-field input, .create-new-topic-input-field textarea,.create-new-topic-input-field select {
    border: 1px solid #b9b5b5;
    border-radius: 5px;
  }
  .create-new-topic-form .create-new-topic-input-label {
    font-weight: bold;
  }
  .create-new-topic-modal-header .modal-close-button {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .create-new-topic .modal-dialog {
      border: 0;
      border-radius: 0;
      margin: 0;
      padding: 0;
      width: 100vw;
    }
    .create-new-topic .modal-content {
      border: 0;
      border-radius: 0;
      display: block;
      min-height: 100vh;
    }
    .create-new-topic .modal-header {
      align-items: center;
      background-color: #007EFF;
      display: flex;
    }
    .create-new-topic .modal-header h3 {
      color: #FFFFFF;
    }
    .create-new-topic .create-new-topic-input-field {
      margin: 25px 0;
    }
    .create-new-topic .modal-close-button {
      color: #FFFFFF;
      display: block;
      font-size: 20px;
    }
  }
</style>
