<md-card class="collection-editor-node">
  <div class="collection-editor-node-title">
    <a ng-href="/create/<[$ctrl.getCollectionNode().getExplorationId()]>" target="_blank" rel="noopener">
      <[$ctrl.getCollectionNode().getExplorationTitle()]>
    </a>
  </div>
  <span class="collection-editor-delete-node protractor-test-editor-delete-node">
    <span ng-click="$ctrl.deleteNode()" aria-hidden="true">
      <i class="material-icons md-18">&#xE14C;</i>
    </span>
  </span>
  <span ng-click="$ctrl.shiftNodeLeft()"
        ng-if="$ctrl.getLinearIndex() > 0"
        class="collection-editor-shift-left-arrow protractor-test-editor-shift-left"
        aria-hidden="true">
    <i class="material-icons">&#xE5CB;</i>
  </span>
  <span ng-click="$ctrl.shiftNodeRight()"
        ng-if="$ctrl.getLinearIndex() < $ctrl.collection.getCollectionNodeCount() - 1"
        class="collection-editor-shift-right-arrow protractor-test-editor-shift-right"
        aria-hidden="true">
    <i class="material-icons">&#xE5CC;</i>
  </span>
</md-card>

<style>
  .collection-editor-node {
    background-color: #E5F2FF;
    color: #424242;
    display: inline-block;
    font-family: "Capriola", "Roboto", Arial, sans-serif;
    font-size: 0.9em;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(37, 40, 43, 0.14);
    border-radius: 8px;
  }

  .collection-editor-delete-node {
    color: #ef5350;
    position: absolute;
    right: 0;
    top: 0;
  }

  .collection-editor-shift-left-arrow {
    bottom: 0;
    color: #52575C;
    left: 0;
   
    position: absolute;
  }
  .collection-editor-shift-right-arrow {
    bottom: 0;
    color: #52575C;
    
    position: absolute;
    right: 0;
  }

  .collection-editor-node-title {
    padding: 16px 16px 20px 16px;
  }
</style>
