<div class="modal-header">
  <h3>Опубликовать занятие</h3>
</div>

<div class="modal-body oppia-long-text">
  <p>
    Поздравляем, вы собираетесь опубликовать занятие!
  </p>
  <p>
    Перед публикацией убедитесь, что ваше занятие соответствует
    <a href="/teach#participation" target="_blank" rel="noopener">критерии публикации сайта</a>. В частности, следует:
    <ul>
      <li>помочь своей целевой аудитории узнать что-то новое</li>
      <li>предоставить полезные отзывы / рекомендации, чтобы помочь им, если они застрянут.</li>
    </ul>
  </p>
  <p>
    Как только занятие будет опубликовано, оно будет доступно в библиотеке Oqustudy, чтобы каждый мог учиться и оставлять отзывы. Вы также можете проверить
      его статистику, нажав на вкладку «Статистика» в правом верхнем углу редактора.
  </p>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" ng-click="cancel()">Отмена</button>
  <button class="btn btn-success protractor-test-confirm-publish" ng-click="confirm()">Опубликовать занятие</button>
</div>
