<style>
  .oppia-share-publish-modal .oppia-share-publish-body,
  .oppia-share-publish-body p {
    text-align: center;
  }

  .oppia-share-publish-modal .oppia-share-publish-close {
    background-color: #007EFF;
    border-radius: 19px;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
    box-shadow: 0px 8px 16px rgba(0, 126, 255, 0.16);
  }

  .oppia-share-publish-modal .oppia-share-publish-close:hover {
    background-color: #3398FF;
    color: #fff;
  }

  .oppia-share-publish-modal .oppia-share-publish-header {
    text-align: center;
    background: #007EFF;
    border-radius: 8px 8px 0 0;
  }

  .oppia-share-publish-modal .oppia-share-publish-header h3 {
    color: #FFF;
    font-size: 1.3em;
  }

  .oppia-share-publish-modal .oppia-share-publish-header img {
    width: 40%;
  }

  .oppia-share-publish-body .oppia-share-publish-link{
    display: inline;
  }

  .oppia-share-publish-body .oppia-share-publish-link div {
    background-color: #fcfcfc;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 10px;
    max-width: 350px;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .oppia-share-publish-body .oppia-share-publish-link div:hover {
    background-color: #f9f9f9;
  }

  .oppia-share-publish-body .oppia-share-publish-link span {
    position: absolute;
    left: 481px;
    top: 124px;
  }

  .oppia-share-publish-body .oppia-share-publish-link i {
    padding-left: 6px;
    color: #3F9187;
  }
</style>

<div class="oppia-share-publish-modal protractor-test-share-publish-modal">
  <div class="modal-header oppia-share-publish-header">
    <img ng-src="<[congratsImgUrl]>">
    <h3>Отлично!</h3>
  </div>

  <div class="modal-body oppia-long-text oppia-share-publish-body">
    <p>
      Теперь, когда вы опубликовали занятие в библиотеке Oqustudy, вы можете поделиться своим творением.
    </p>
    <div class="oppia-share-publish-link">
      Вот ваша ссылка занятия:<br>
      <div ng-click="selectText($event)"><[explorationLink]></div>
      <span ng-show="explorationLinkCopied">Скопировано<i class="fa fa-check" aria-hidden="true"></i></span>
    </div>
    <sharing-links layout-type="row"
                   layout-align-type="center center"
                   share-type="exploration"
                   [exploration-id]="explorationId">
    </sharing-links>
    <button class="btn btn-secondary oppia-share-publish-close protractor-test-share-publish-close"
            ng-click="cancel()">
      Закрыть
    </button>
  </div>
</div>
