<div class="oppia-content oppia-error-page-main-content">
  <br>

  <div class="oppia-wide-panel oppia-error-wide-container">
    <div class="oppia-wide-panel-content protractor-test-error-container">
      <h1 class="oppia-error-h1">
        <div *ngIf="getStatusCode() === 400">
          <span [innerHTML]="'I18N_ERROR_HEADER_400' | translate"></span>
          - Неправильный запрос
        </div>
        <div *ngIf="getStatusCode() === 401">
          <span [innerHTML]="'I18N_ERROR_HEADER_401' | translate"></span>
          - Не авторизован
        </div>
        <div *ngIf="getStatusCode() === 404" class="protractor-test-error-page">
          <span [innerHTML]="'I18N_ERROR_HEADER_404' | translate"></span>
          - Страница не найдена
        </div>
        <div *ngIf="getStatusCode() === 500">
          <span [innerHTML]="'I18N_ERROR_HEADER_500' | translate"></span>
          - Системная ошибка
        </div>
      </h1>

      <br>
      <picture>
        <source type="image/webp" [srcset]="getStaticImageUrl('/general/oops_mint.webp')">
        <source type="image/png" [srcset]="getStaticImageUrl('/general/oops_mint.png')">
        <img [src]="getStaticImageUrl('/general/oops_mint.png')" alt="Oops!" width="299" height="142">
      </picture>

      <div>
        <h2 *ngIf="statusCode === 400" class="oppia-error-h2" [innerHTML]="'I18N_ERROR_MESSAGE_400' | translate"></h2>
        <h2 *ngIf="statusCode === 401" class="oppia-error-h2" [innerHTML]="'I18N_ERROR_MESSAGE_401' | translate"></h2>
        <h2 *ngIf="statusCode === 404" class="oppia-error-h2" [innerHTML]="'I18N_ERROR_MESSAGE_404' | translate"></h2>
        <h2 *ngIf="statusCode === 500" class="oppia-error-h2" [innerHTML]="'I18N_ERROR_MESSAGE_500' | translate"></h2>
      </div>
     <div style="
"><p style="
    text-align: center;
    color: #757575;
    font-style: italic;
    font-family: 'Montserrat';
    font-size: 14px;
    margin-top: 70px;
    
" >или</p></div>
      <div class="center oppia-splash-button-container">
        <button type="submit" class="btn oppia-navbar-button" ng-click="$ctrl.submitLoginForm()" translate="I18N_SIGNUP_BUTTON_ENTER" id="login-submit" style="width: 250px;height: 40px;border-radius: 25px;"></button>
      </div>
  </div>
</div>
<style>
  .oppia-error-h1 {
    font-size: 1em;
    margin: 1.33em 0;
  }
  .oppia-error-h2 {
    font-size: 1.17em;
    font-weight: 700;
  }
  @media screen and (min-width: 768px) {
    .oppia-footer {
      position: relative;
    }
  }
</style>
